%% 服务器监听端口
{game_port, 12315}.

%% 服务器ID
{server_id, 66}.

%% 已合并的服务器ID列表,合服后需要加上已合并掉的服务器ID列表
{merge_server_id_list, []}.

%% 是否为跨服主服务器
{is_cross_master, false}.

%%服务器类型:normal,master,distribute,familyfight
{server_type, normal}.

%% 是否需要保持跨服服务器之间的连接
{is_need_connect, true}.

%% 跨服主服的IP
{cross_master_ip, '127.0.0.1'}.

%% 跨服主服的ID
{cross_master_id, 1}.

%% 跨服从服务器的列表,这个配置主服务器会去读取，从服务器不关心此配置
{cross_slave_server_list, [{30, '127.0.0.1'}]}.

%%异星战场分发服务器[ID,IP]
{distribute_server, {2, "10,10,11,232"}}. 

%% 跨服连接需要设置的cookie
{cookie, crimoon}.

%% 服务器所属平台
{platform, dev}.

%% 是否发布版
{is_release,false}.

%% 服务器错误日志等级
{log_level,2}.

%% 服务器错误日志目录
{logger_file_dir, "./log"}.

%% 连接帐号服务器密钥
{account_server_connect_key, "12345678901234567890123456789012"}.

%% 帐号服务器地址
{account_server_addr,"192.168.1.9"}.

%% 帐号服务器的全局进程名称
{platform_server, pm_platform_server}.

%% 账号服务器账单验证地址
{account_check_addr,"127.0.0.1"}.

%% 账单服务器的全局进程名称
{pay_server, pm_pay_server}.

%% 是否是新服务器
{is_new_server, false}.

%% 服务器最大同时在线玩家数
{max_online_num, 3000}.

%% 邮件进程最大缓存,单位：M
{mail_process_max_buff_size, 100}.

%% 战报进程最大缓存,单位：M
{hist_process_max_buff_size, 100}.

%% 好友进程最大缓存,单位：M
{friend_process_max_buff_size, 50}.

%% 数据库连接配置
%% {database, {数据库IP,端口,用户名,密码,数据库名称,连接数量}}
{database, {"localhost",3306,"root","123.com","pkq_gamedb",10}}.

%% 广播消息的web接口使用的认证信息与接口使用的端口信息
{passinfo, {"pass", 8089,"10.10.11.232"}}.

%%充值接口
{pay_port, {8991,"127.0.0.1"}}.

%% 客户端需求最低版本号
{client_version, {1,0,5}}.

% 开服时间设置
{serverOpenTime, {{2014,6,25},{10,10,10}}}.

%% 时区信息
{time_zone,{ {1970,1,1}, {8,0,0}}}.

%%push服务器http url
{push_url,"http://10.10.11.211:28082/recvpush"}.
%%push服务器key
{push_key,"1234567890"}.

%% rabbitmq连接配置
{msg_env,
    [
      {username, <<"zcl">>}
	 ,{password, <<"zcl">>}
	 ,{host,"127.0.0.1"}
	 ,{port, 5672}
	 ,{heartbeat,10}
	 ,{virtualhost, <<"pm_queue">>}
	 ]}.

%{account_server_url,"http://192.168.1.9:12780"}.
{account_server_url,"http://192.168.1.8:12780"}.
{node_info_master,"family_fight_master@127.0.0.1"}.

{node_info_server,true}.

{account_check_url,"http://115.29.175.12"}.

%% gameID,zoneID,gameID固定62,zoneID:混服1,专服2,胡来3,app4,海外5,泰文6,英语7,自测试0
{ctalk_config,{"62","0"}}.

{max_packet_cnt,150}.