%%异星战场主服务器列表
%%格式
%%{服务器ID,服务器平台,服务器IP}
{master,
[
    {14,dev,"10.10.13.15"}
]
}.

%%异星战场从服务器列表
{slave,
[
    {4,dev,"10.10.13.15"}
]
}.

%%异星战场决赛服
%%用来给分配服取数据.决赛服的名称:"alien_finals_" + Platform +ID
%%取决赛服名称的接口在alien_finals.erl模块中
{finals, {114,dev,"10.10.13.15"}}.

%%异星战场分配服
%%取分配服名称的接口在alien_distribute.erl模块中
%%分配服名称:"alien_distribute_"+Plaform+ID
{distribute, {41,dev,"10.10.13.15"}}.

