
%战斗服的id
{war_relic_fight_servers,[1001]}.

%等级和vip限制
{need_lvl_vip,{20,0}}.

{talk_len, 10}.

%初始次数
{init_times,1}.  %%测试数据

%队伍人数
{relic_member_num,5}.
{match_need_list, [[5]]}.

%挑战费用
{need_gold,[200,400,800]}.

%战场结束时间
{war_interval,2400}.

% 挂机最长时间
{afk_check_time,300}.

%{岛屿ID,1boss|2reborn,坐标}
{island_pos_list,[{1,{2500,4000}}
                 ,{2,{6200,12200}}
                 ,{3,{6200,2800}}
                 ,{4,{1300,7500}}
                 ,{5,{2500,11000}}
                 ,{6,{6200,7500}}]}.

%调整boss难度的参数
%等级=参数a*（玩家平均等级/10）
%品阶=参数b*（玩家平均战斗力/10000）^0.4
%{boss_power_param,{100,45}}.	%%测试数据

%增加难度数量的话，代码中LEVEL_NUM宏要改，千万别忘了

%{relic_boss,属性,等级}  1水->2火->3草->4雷       5飞行->6格斗->7超能->8岩石
%有属性的boss 1级
{{relic_boss,1},[{10003, 1, 0, 5},{7181, 1, 0,1} ,{7181, 1, 0,2} ,{7181, 1, 0,3} ,{7182, 1, 0,4} ,{7182, 1, 0,6}]}.
{{relic_boss,2},[{10004, 1, 0, 5},{7201, 1, 0,1} ,{7201, 1, 0,2} ,{7201, 1, 0,3} ,{7202, 1, 0,4} ,{7202, 1, 0,6}]}.
{{relic_boss,3},[{10005, 1, 0, 5},{7191, 1, 0,1} ,{7191, 1, 0,2} ,{7191, 1, 0,3} ,{7192, 1, 0,4} ,{7192, 1, 0,6}]}.
{{relic_boss,4},[{10006, 1, 0, 5},{7131, 1, 0,1} ,{7131, 1, 0,2} ,{7131, 1, 0,3} ,{7132, 1, 0,4} ,{7132, 1, 0,6}]}.
{{relic_boss,5},[{10007, 1, 0, 5},{7271, 1, 0,1} ,{7271, 1, 0,2} ,{7271, 1, 0,3} ,{7272, 1, 0,4} ,{7272, 1, 0,6}]}.
{{relic_boss,6},[{10008, 1, 0, 5},{7241, 1, 0,1} ,{7241, 1, 0,2} ,{7241, 1, 0,3} ,{7242, 1, 0,4} ,{7242, 1, 0,6}]}.
{{relic_boss,7},[{10009, 1, 0, 5},{7251, 1, 0,1} ,{7251, 1, 0,2} ,{7251, 1, 0,3} ,{7252, 1, 0,4} ,{7252, 1, 0,6}]}.
{{relic_boss,8},[{10010, 1, 0, 5},{7281, 1, 0,1} ,{7281, 1, 0,2} ,{7281, 1, 0,3} ,{7282, 1, 0,4} ,{7282, 1, 0,6}]}.
{{relic_boss,9},[
		[{10011, 1, 0, 5},{7131, 1, 0,1} ,{7131, 1, 0,2} ,{7131, 1, 0,3} ,{7132, 1, 0,4} ,{7132, 1, 0,6}],
		[{10012, 1, 0, 5},{7181, 1, 0,1} ,{7181, 1, 0,2} ,{7181, 1, 0,3} ,{7182, 1, 0,4} ,{7182, 1, 0,6}],
		[{10013, 1, 0, 5},{7201, 1, 0,1} ,{7201, 1, 0,2} ,{7201, 1, 0,3} ,{7202, 1, 0,4} ,{7202, 1, 0,6}],
		[{10014, 1, 0, 5},{7191, 1, 0,1} ,{7191, 1, 0,2} ,{7191, 1, 0,3} ,{7192, 1, 0,4} ,{7192, 1, 0,6}],
		[{10015, 1, 0, 5},{7211, 1, 0,1} ,{7211, 1, 0,2} ,{7211, 1, 0,3} ,{7212, 1, 0,4} ,{7212, 1, 0,6}],
		[{10016, 1, 0, 5},{7221, 1, 0,1} ,{7221, 1, 0,2} ,{7221, 1, 0,3} ,{7222, 1, 0,4} ,{7222, 1, 0,6}],
		[{10017, 1, 0, 5},{7231, 1, 0,1} ,{7231, 1, 0,2} ,{7231, 1, 0,3} ,{7232, 1, 0,4} ,{7232, 1, 0,6}],
		[{10018, 1, 0, 5},{7271, 1, 0,1} ,{7271, 1, 0,2} ,{7271, 1, 0,3} ,{7272, 1, 0,4} ,{7272, 1, 0,6}],
		[{10019, 1, 0, 5},{7241, 1, 0,1} ,{7241, 1, 0,2} ,{7241, 1, 0,3} ,{7242, 1, 0,4} ,{7242, 1, 0,6}],
		[{10020, 1, 0, 5},{7251, 1, 0,1} ,{7251, 1, 0,2} ,{7251, 1, 0,3} ,{7252, 1, 0,4} ,{7252, 1, 0,6}],
		[{10021, 1, 0, 5},{7281, 1, 0,1} ,{7281, 1, 0,2} ,{7281, 1, 0,3} ,{7282, 1, 0,4} ,{7282, 1, 0,6}],
		[{10022, 1, 0, 5},{7261, 1, 0,1} ,{7261, 1, 0,2} ,{7261, 1, 0,3} ,{7262, 1, 0,4} ,{7262, 1, 0,6}],
		[{10023, 1, 0, 5},{7291, 1, 0,1} ,{7291, 1, 0,2} ,{7291, 1, 0,3} ,{7292, 1, 0,4} ,{7292, 1, 0,6}],
		[{10024, 1, 0, 5},{7301, 1, 0,1} ,{7301, 1, 0,2} ,{7301, 1, 0,3} ,{7302, 1, 0,4} ,{7302, 1, 0,6}],
		[{10025, 1, 0, 5},{7311, 1, 0,1} ,{7311, 1, 0,2} ,{7311, 1, 0,3} ,{7312, 1, 0,4} ,{7312, 1, 0,6}],
		[{10026, 1, 0, 5},{7321, 1, 0,1} ,{7321, 1, 0,2} ,{7321, 1, 0,3} ,{7321, 1, 0,4} ,{7321, 1, 0,6}],
		[{10027, 1, 0, 5},{7331, 1, 0,1} ,{7331, 1, 0,2} ,{7331, 1, 0,3} ,{7331, 1, 0,4} ,{7331, 1, 0,6}],
        [{10028, 1, 0, 5},{7341, 1, 0,1} ,{7341, 1, 0,2} ,{7341, 1, 0,3} ,{7342, 1, 0,4} ,{7342, 1, 0,6}],
        [{10029, 1, 0, 5},{7351, 1, 0,1} ,{7351, 1, 0,2} ,{7351, 1, 0,3} ,{7351, 1, 0,4} ,{7351, 1, 0,6}],
        [{10030, 1, 0, 5},{7361, 1, 0,1} ,{7361, 1, 0,2} ,{7361, 1, 0,3} ,{7361, 1, 0,4} ,{7361, 1, 0,6}]
		]}.
		
%boss的随机范围，必须从1开始，连续编列
{big_boss_all_num,20}. 
{{big_boss_type,1},10012}. %轰天龟甲兽
{{big_boss_type,2},10013}. %幽晶黑炎龙
{{big_boss_type,3},10014}. %棘齿霸王
{{big_boss_type,4},10011}. %超级皮神
{{big_boss_type,5},10018}. %快龙
{{big_boss_type,6},10019}. %喵帕斯
{{big_boss_type,7},10020}. %果然翁
{{big_boss_type,8},10021}. %超级蒂安希
{{big_boss_type,9},10022}. %可达鸭
{{big_boss_type,10},10015}. %菲尼克斯
{{big_boss_type,11},10017}. %阿努比斯
{{big_boss_type,12},10016}. %海坊主
{{big_boss_type,13},10023}. %九尾
{{big_boss_type,14},10024}. %土台龟
{{big_boss_type,15},10025}. %三头龙
{{big_boss_type,16},10026}. %卡比兽
{{big_boss_type,17},10027}. %美洛耶塔
{{big_boss_type,18},10028}. %顽皮熊猫
{{big_boss_type,19},10029}. %基格尔德
{{big_boss_type,20},10030}. %呆呆兽

%boss激活倒计时总时间
{boss_active_timeout_init,120}.

%每都激活一个装置，减少激活时间
{boss_active_time_reduce,10}.

%战斗奖励
{fight_reward,{sell_reward,10000,0,0,0,[],0,[]}}.

%击杀奖励
{kill_reward,{sell_reward,0,0,0,0,[],0,[]}}.

%邮件奖励的评价描述
{{mail_rank_text,1,1},"简单-B"}.
{{mail_rank_text,1,2},"简单-A"}.
{{mail_rank_text,1,3},"简单-S"}.
{{mail_rank_text,1,4},"简单-SS"}.
{{mail_rank_text,1,5},"简单-SSS"}.

{{mail_rank_text,2,1},"普通-B"}.
{{mail_rank_text,2,2},"普通-A"}.
{{mail_rank_text,2,3},"普通-S"}.
{{mail_rank_text,2,4},"普通-SS"}.
{{mail_rank_text,2,5},"普通-SSS"}.

{{mail_rank_text,3,1},"困难-B"}.
{{mail_rank_text,3,2},"困难-A"}.
{{mail_rank_text,3,3},"困难-S"}.
{{mail_rank_text,3,4},"困难-SS"}.
{{mail_rank_text,3,5},"困难-SSS"}.

{{mail_rank_text,4,1},"精英-B"}.
{{mail_rank_text,4,2},"精英-A"}.
{{mail_rank_text,4,3},"精英-S"}.
{{mail_rank_text,4,4},"精英-SS"}.
{{mail_rank_text,4,5},"精英-SSS"}.

{{mail_rank_text,5,1},"噩梦-B"}.
{{mail_rank_text,5,2},"噩梦-A"}.
{{mail_rank_text,5,3},"噩梦-S"}.
{{mail_rank_text,5,4},"噩梦-SS"}.
{{mail_rank_text,5,5},"噩梦-SSS"}.

{{mail_rank_text,6,1},"地狱-B"}.
{{mail_rank_text,6,2},"地狱-A"}.
{{mail_rank_text,6,3},"地狱-S"}.
{{mail_rank_text,6,4},"地狱-SS"}.
{{mail_rank_text,6,5},"地狱-SSS"}.

%mega石奖励的数量
{{mega_reward,1,1},1}.
{{mega_reward,1,2},1}.
{{mega_reward,1,3},1}.
{{mega_reward,1,4},1}.
{{mega_reward,1,5},1}.

{{mega_reward,2,1},1}.
{{mega_reward,2,2},1}.
{{mega_reward,2,3},1}.
{{mega_reward,2,4},1}.
{{mega_reward,2,5},2}.

{{mega_reward,3,1},2}.
{{mega_reward,3,2},2}.
{{mega_reward,3,3},2}.
{{mega_reward,3,4},2}.
{{mega_reward,3,5},3}.

{{mega_reward,4,1},3}.
{{mega_reward,4,2},3}.
{{mega_reward,4,3},3}.
{{mega_reward,4,4},3}.
{{mega_reward,4,5},4}.

{{mega_reward,5,1},4}.
{{mega_reward,5,2},4}.
{{mega_reward,5,3},4}.
{{mega_reward,5,4},4}.
{{mega_reward,5,5},5}.

{{mega_reward,6,1},5}.
{{mega_reward,6,2},5}.
{{mega_reward,6,3},5}.
{{mega_reward,6,4},5}.
{{mega_reward,6,5},5}.

%mega石与BOSS的对应关系,gerid,itemid
{boss_extra_reward,[{10011,7805}
                   ,{10012,7801}
	 	   ,{10013,7804}
		   ,{10014,7807}
		   ,{10015,7802}
		   ,{10016,7806}
		   ,{10017,7803}
		   ,{10018,7811}
		   ,{10019,7808}
		   ,{10020,7809}
		   ,{10021,7812}
                   ,{10022,7810}
                   ,{10023,7813}
                   ,{10024,7814}
                   ,{10025,7815}
                   ,{10026,7816}
                   ,{10027,7817}
                   ,{10028,7818}
                   ,{10029,7819}
                   ,{10030,7820}

		   ]}.

%胜利邮件固定奖励
%%等级段，时间段
{{finish_time_mail_reward,1,1},{sell_reward,50000,0,0,0,[],100,[]}}.
{{finish_time_mail_reward,1,2},{sell_reward,60000,0,0,0,[],200,[]}}.
{{finish_time_mail_reward,1,3},{sell_reward,70000,0,0,0,[],300,[]}}.
{{finish_time_mail_reward,1,4},{sell_reward,80000,0,0,0,[],400,[]}}.
{{finish_time_mail_reward,1,5},{sell_reward,90000,0,0,0,[],500,[]}}.
{{finish_time_mail_reward,2,1},{sell_reward,100000,0,0,0,[],600,[]}}.
{{finish_time_mail_reward,2,2},{sell_reward,200000,0,0,0,[],700,[]}}.
{{finish_time_mail_reward,2,3},{sell_reward,300000,0,0,0,[],800,[]}}.
{{finish_time_mail_reward,2,4},{sell_reward,400000,0,0,0,[],900,[]}}.
{{finish_time_mail_reward,2,5},{sell_reward,500000,0,0,0,[],1000,[]}}.
{{finish_time_mail_reward,3,1},{sell_reward,650000,0,0,0,[],1200,[]}}.
{{finish_time_mail_reward,3,2},{sell_reward,800000,0,0,0,[],1400,[]}}.
{{finish_time_mail_reward,3,3},{sell_reward,950000,0,0,0,[],1600,[]}}.
{{finish_time_mail_reward,3,4},{sell_reward,1100000,0,0,0,[],1800,[]}}.
{{finish_time_mail_reward,3,5},{sell_reward,1250000,0,0,0,[],2000,[]}}.
{{finish_time_mail_reward,4,1},{sell_reward,1450000,0,0,0,[],2200,[]}}.
{{finish_time_mail_reward,4,2},{sell_reward,1650000,0,0,0,[],2400,[]}}.
{{finish_time_mail_reward,4,3},{sell_reward,1850000,0,0,0,[],2600,[]}}.
{{finish_time_mail_reward,4,4},{sell_reward,2050000,0,0,0,[],2800,[]}}.
{{finish_time_mail_reward,4,5},{sell_reward,2250000,0,0,0,[],3000,[]}}.
{{finish_time_mail_reward,5,1},{sell_reward,2500000,0,0,0,[],3200,[]}}.
{{finish_time_mail_reward,5,2},{sell_reward,2750000,0,0,0,[],3400,[]}}.
{{finish_time_mail_reward,5,3},{sell_reward,3000000,0,0,0,[],3600,[]}}.
{{finish_time_mail_reward,5,4},{sell_reward,3250000,0,0,0,[],3800,[]}}.
{{finish_time_mail_reward,5,5},{sell_reward,3500000,0,0,0,[],4000,[]}}.
{{finish_time_mail_reward,6,1},{sell_reward,3800000,0,0,0,[],4200,[]}}.
{{finish_time_mail_reward,6,2},{sell_reward,4100000,0,0,0,[],4400,[]}}.
{{finish_time_mail_reward,6,3},{sell_reward,4400000,0,0,0,[],4600,[]}}.
{{finish_time_mail_reward,6,4},{sell_reward,4700000,0,0,0,[],4800,[]}}.
{{finish_time_mail_reward,6,5},{sell_reward,5000000,0,0,0,[],5000,[]}}.


%后两个宝箱开启的价格
%%等级，时间
{{relic_box_cost,1,1},[0,50,100]}.
{{relic_box_cost,1,2},[0,60,120]}.
{{relic_box_cost,1,3},[0,70,140]}.
{{relic_box_cost,1,4},[0,80,160]}.
{{relic_box_cost,1,5},[0,90,180]}.
{{relic_box_cost,2,1},[0,100,200]}.
{{relic_box_cost,2,2},[0,125,250]}.
{{relic_box_cost,2,3},[0,150,300]}.
{{relic_box_cost,2,4},[0,175,350]}.
{{relic_box_cost,2,5},[0,200,400]}.
{{relic_box_cost,3,1},[0,200,400]}.
{{relic_box_cost,3,2},[0,250,500]}.
{{relic_box_cost,3,3},[0,300,600]}.
{{relic_box_cost,3,4},[0,350,700]}.
{{relic_box_cost,3,5},[0,400,800]}.
{{relic_box_cost,4,1},[0,450,900]}.
{{relic_box_cost,4,2},[0,550,1100]}.
{{relic_box_cost,4,3},[0,650,1300]}.
{{relic_box_cost,4,4},[0,800,1600]}.
{{relic_box_cost,4,5},[0,950,1900]}.
{{relic_box_cost,5,1},[0,1000,2000]}.
{{relic_box_cost,5,2},[0,1200,2400]}.
{{relic_box_cost,5,3},[0,1400,2800]}.
{{relic_box_cost,5,4},[0,1600,3200]}.
{{relic_box_cost,5,5},[0,1800,3600]}.
{{relic_box_cost,6,1},[0,2000,4000]}.
{{relic_box_cost,6,2},[0,2500,5000]}.
{{relic_box_cost,6,3},[0,3000,6000]}.
{{relic_box_cost,6,4},[0,3500,7000]}.
{{relic_box_cost,6,5},[0,4000,8000]}.

%宝箱的名字
{{relic_box_name,1},["龙骨宝箱","龙骨宝箱","龙骨宝箱"]}.
{{relic_box_name,2},["龙鳞宝箱","龙鳞宝箱","龙鳞宝箱"]}.
{{relic_box_name,3},["龙髓宝箱","龙髓宝箱","龙髓宝箱"]}.
{{relic_box_name,4},["龙魂宝箱","龙魂宝箱","龙魂宝箱"]}.
{{relic_box_name,5},["龙灵宝箱","龙灵宝箱","龙灵宝箱"]}.

%等级段1
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,1,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 1, 1, 0}],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,1,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 1, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,1,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 2, 1, 0}],0,[]}}]
                            ,[{600,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9400,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,1,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 2, 1, 0}],0,[]}}]
                            ,[{800,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9200,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,1,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 2, 1, 0}],0,[]}}]
                            ,[{1000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{500,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%等级段2
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,2,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 2, 1, 0}],0,[]}}]
                            ,[{1000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{9000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{500,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,2,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 2, 1, 0}],0,[]}}]
                            ,[{2000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{8000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{1000,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{9000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,2,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 3, 1, 0}],0,[]}}]
                            ,[{3000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{7000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{1500,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{8500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,2,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 3, 1, 0}],0,[]}}]
                            ,[{4000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{6000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{2000,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{8000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,2,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,13, 4, 1, 0}],0,[]}}]
                            ,[{5000,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}},{5000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{2500,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{7500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%等级段3
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,3,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}}]
                            ,[{3000,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{7000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,3,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}}]
                            ,[{3500,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{6500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{600,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9400,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,3,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{4000,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}},{6000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{800,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9200,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,3,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{4500,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}},{5500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{1000,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{9000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,3,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 3, 1, 0}],0,[]}}]
                            ,[{5000,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}},{5000,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{1200,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{8800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%等级段4
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,4,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 1, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}}]
                            ,[{1500,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{8500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,4,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}}]
                            ,[{1800,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{8200,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,4,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 3, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}}]
                            ,[{2100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{7900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,4,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{2400,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{7600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,4,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{2700,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{7300,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{200,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9800,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%等级段5
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,5,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 3, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{3100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{6900,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,5,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 4, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{3500,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{6500,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,5,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 3, 1, 0}],0,[]}}]
                            ,[{3900,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{6100,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,5,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 3, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 3, 1, 0}],0,[]}}]
                            ,[{4300,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{5700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,5,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,14, 3, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,15, 3, 1, 0}],0,[]}}]
                            ,[{4700,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}},{5300,{sell_reward,0,0,0,0,[],0,[]}}]
                            ,[{300,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9700,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%等级段6
%{finish_time_box_reward,等级段,时间段}
{{finish_time_box_reward,6,1},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,6,2},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,6,3},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,15, 3, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 1, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,6,4},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,15, 1, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 2, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.
{{finish_time_box_reward,6,5},[
                            [{100,{sell_reward,0,0,0,0,[{new_item,15, 2, 1, 0}],0,[]}}]
                            ,[{100,{sell_reward,0,0,0,0,[{new_item,16, 2, 1, 0}],0,[]}}]
                            ,[{400,{sell_reward,0,0,0,0,[{new_item,17, 1, 1, 0}],0,[]}},{9600,{sell_reward,0,0,0,0,[],0,[]}}]
                            ]}.

%{{fight_level,巨龙等级},{等级需求,战斗力需求,boss品质}}
{{fight_level,1},{17,0,{50,30,1}}}.
{{fight_level,2},{17,900000,{90,88,2}}}.
{{fight_level,3},{17,14000000,{180,129,3}}}.
{{fight_level,4},{17,200000000,{248,174,4}}}.
{{fight_level,5},{17,3000000000,{300,208,5}}}.
{{fight_level,6},{17,10000000000,{360,245,6}}}.


%战斗评价
{fight_rank,[
    {{1800,2400},1},
    {{1200,1799},2},
    {{600,1199},3},
    {{300,599},4},
    {{0,299},5}
    ]
}.

% 是否需要进入准备房间
{need_in_room, true}.
