%%组队系统配置文件
%{{data_team_type,队伍类型号},{队长人数上限,副队长人数上限,副队长人数下限,成员人数上限,成员人数下限}}.
{{data_team_type,1},{1,1,0,5,2}}.
{{data_team_type,2},{1,0,0,2,2}}.

%%创建队伍，邀请组队消息有效时间
%%{data_team_invite_interval,持续时间(s)}.
{data_team_invite_interval,60}.

%%权限类型：
% 1->解散队伍权限
% 2->离开队伍权限
% 3->任命队长权限
% 4->任命副队长权限
% 5->撤销副队长权限
% 6->邀请成员权限
% 7->踢出成员权限
% 8->转换队伍类型权限

%%队长权限
{{data_team_right,1},[1,2,3,4,5,6,7,8]}.

%%副队长权限
{{data_team_right,2},[2,6]}.

%%成员权限
{{data_team_right,3},[2]}.

%%组队发言长度限制
{data_talk_length_limit,150}.

%%组队信息发送间隔
{data_talk_interval,5}.

%%创建队伍，邀请组队消息有效时间
%{data_team_invite_remain_time,30}.

%%同一条协议间隔
{data_team_last_message_interval,5}.

%%更新头像，等级，战斗力，官爵的时间间隔
{data_team_update_info_interval,5}.