%% 选取战场总排行榜和胜利榜前X名参加决赛
{promote_rank, 3}.

%% 种子选手个数
{seed_player_number, 8}.

%% 小组个数 
{group_number, 8}.

%% 异星比赛结束后,多久开始小组赛
%% 单位小秒 
{group_match_start, 216000}.

%% 小组赛持续时间(单位:秒)
{{offset_start_time, 2}, [7200]}. 

%% 四强赛持续时间(单位:秒)
{{offset_start_time, 3}, [7200]}. 

%% 半决赛持续时间(单位:秒)
{{offset_start_time, 4}, [10800]}. 

%% 决赛持续时间(单位:秒)
{{offset_start_time, 5}, [3600, 3600, 3600, 3600, 1500]}.

%% 八强奖励
{{match_reward, 2}, {sell_reward,0,0,0,0,[{new_item,21008,5,1,0}],0,[]}}.

%% 四强奖励
{{match_reward, 3}, {sell_reward,0,0,0,0,[{new_item,21008,10,1,0}],0,[]}}.

%% 亚军奖励
{{match_reward, 4}, {sell_reward,0,0,0,0,[{new_item,21008,20,1,0}],0,[]}}.    

%% 冠军奖励
{{match_reward, 5}, {sell_reward,0,0,0,0,[{new_item,21008,50,1,0}],0,[]}}.

%% 冠军福利
{champion_welfare, {sell_reward,200000,0,0,0,[],0,[]}}.

%% 冠军的额外奖励
{champion_reward, {sell_reward,200000,0,0,0,[],0,[]}}.

%% 赌注 
%% 格式:
%% {档, 徽章数额}
{match_stakes, 
    [
        {1, 2000},
        {2, 4000},
        {3, 8000}
    ]
}.

%% 押中的奖励系数
{stakes_hit_ratio, 2}.

%% 没有押中的奖励系数
{stakes_miss_ratio, 0.5}.
