
%% 比赛时间
{group_fight_interval,3600}. 
{group_fight_timestamp,[{12,00,00}]}.

{knockout_fight_timestamp,[{12,00,00}
                          ,{12,00,00}
                          ,{12,00,00}
                          ,{12,00,00}
                          ,{12,00,00}
                          ,{13,30,00}
                          ,{13,30,00}
                          ,{13,30,00}
                          ,{13,30,00}
                          ,{13,30,00}
                          ,{15,00,00}
                          ,{15,00,00}
                          ,{15,00,00}
                          ,{15,00,00}
                          ,{15,00,00}
                          ,{16,30,00}
                          ,{16,30,00}
                          ,{16,30,00}
                          ,{16,30,00}
                          ,{16,30,00}]}.

{{final_reward,0},{sell_reward,8000000,0,0,0,[],0,[]}}.        %% 参与奖
{{final_reward,1},{sell_reward,40000000,0,0,0,[{new_item,9105, 50, 1, 0},{new_item,93, 250, 1, 0},{new_item,90, 50, 1, 0}],0,[]}}.        %% 冠军
{{final_reward,2},{sell_reward,30000000,0,0,0,[{new_item,9105, 35, 1, 0},{new_item,93, 200, 1, 0},{new_item,90, 40, 1, 0}],0,[]}}.        %% 亚军
{{final_reward,3},{sell_reward,20000000,0,0,0,[{new_item,9105, 30, 1, 0},{new_item,93, 160, 1, 0},{new_item,90, 30, 1, 0}],0,[]}}.        %% 季军
{{final_reward,4},{sell_reward,16000000,0,0,0,[{new_item,9105, 25, 1, 0},{new_item,93, 120, 1, 0},{new_item,90, 25, 1, 0}],0,[]}}.        %% 殿军
{{final_reward,5},{sell_reward,12000000,0,0,0,[{new_item,9105, 20, 1, 0},{new_item,93, 100, 1, 0},{new_item,90, 20, 1, 0}],0,[]}}.        %% 八强
{{final_reward,9},{sell_reward,10000000,0,0,0,[{new_item,9105, 15, 1, 0},{new_item,93, 80, 1, 0},{new_item,90, 15, 1, 0}],0,[]}}.        %% 小组赛

%% {gamble_limit,5000000}.
{{gamble_limit,31},[10000,1000000]}.     %% 周三比赛押注范围，四个小组分开31~34
{{gamble_limit,32},[10000,1000000]}.
{{gamble_limit,33},[10000,1000000]}.
{{gamble_limit,34},[10000,1000000]}.
{{gamble_limit,4},[10000,2000000]}.      %% 周四比赛押注范围
{{gamble_limit,5},[10000,4000000]}.      %% 周五比赛
{{gamble_limit,61},[10000,8000000]}.     %% 周六冠军赛
{{gamble_limit,62},[10000,8000000]}.     %% 周六季军赛

{gamble_time,[{0,0,0},{18,0,0}]}.       %% 每天押注开启的时间段
                       
{data_sex_changelist,[{9105,9106}]}.    %% 根据性别发奖励的配置依据

%% 取消报名的消耗
{cancel_sign_cost,{gold,100}}.    %% 根据性别发奖励的配置依据

