%% 这个配置是精灵绝技的附带效果
%% 格式:
%% {ID, {data_unique_effect, 释放时间, 条件, 触发几率(上限100), 持续回合, 作用对象, 效果类型, 系数, 是否允许群攻时多次触发, 性质(增益:true-减益:false-中性:undefined), 策反是否会影响目标选择,替换上一个技能}}
%% 释放时间: 1 放必杀前, 2 放必杀后(还没造成伤害) 3 追加的攻击释放前 
%%           4 追加的攻击释放后 5 必杀暴击 6 被击中后(已经产生了伤害)
%%           7 必杀造成伤害后 9 完成攻击动作后 99 持续的 
%%           10 无敌触发时   11 无敌消除时  12 反击后  13 普通攻击后
%%           14 释放normal_dot 后   15 释放unique_crit后
%%	     16 unique攻击后  17 追击后  (16,17攻打多个目标时,只判定一次)
%%	     18 unhandled 后  19  追击后
%%	     20 任意动作前 21 攻击动作前 22 普攻必杀产生伤害后 23 被普攻必杀伤害后
%%	     24 必杀攻击后
%%           8 不会加入到unique_hook中(单独处理吧,主要针对)
%% 条件: 0 不用判断这个, 1 必杀命中, 2 必杀没中(释放时间为1的不会判断这个)
%% 触发几率: 1～100 
%% 持续回合: 0～100 
%% 作用对象: 0 攻击者,1 己方全体,2 己方前排,3 己方后排,
%%           4 对方全体,5 对方前排,6 对方后排,7 被攻击方, 
%%           10 敌方十字范围, 11 我方十字范围 13 所有的被攻击单位 
%%           14 敌方后排单体 15 敌方随机一名目标 16 被前面释放unhandle技能影响到的目标
%%	     17 连招+1
%%  特殊:   {8, x} 我方随机x个 {9, x} 敌方随机x个 12 {12, 权值列表} 敌方按照权值列表随机
%% warning：千万不要使用觉醒特效的ID，觉醒的特效技能会受到晶体系统的影响
%% 效果类型: 1 受到的伤害降低,2 提高暴击,3 受到的伤害提高,
%%           4 追加普通攻击,必定命中和暴击,5 降低怒气,6 眩晕,7 追加普通攻击,伤害翻倍
%%           8 追加必杀攻击,9 能量回复N点,10 无敌,11 命中提高
%%           12 DOT伤害(攻击前判定,可致死) 13 受到的治疗效果降低(包括吸血) 14 返回普攻伤害
%%           15 返回必杀伤害 16 沉睡 17 对沉睡单位造成N倍伤害 18 伤害链接 19 对血量低于X%的造成N倍伤害 
%%           20 增加虚弱攻击的个数 (17、19、20是两个不带条件的持续性buffer,依据作用对象的状态来生效)
%%           21 爆炸效果  22 恢复精灵自身生命 23 石化 24 急速 25 冰冻 26 麻痹
%%           27 迷惑(参数为:[x],代表个数) 28 增加迷惑个数 29 增加自身减伤和造成的伤害 30 去除己方减益,敌方增益
%%           31 追加普通攻击,并造成dot伤害 32 追加必杀攻击,并且暴击 33 沉睡变身 34 沉睡暴击 
%%           35 歌唱 36 舞步 37 觉醒格斗的流血类型（用于区分旧的流血类型） 38  不消耗怒气的必杀
%%	     39 造成生命上限N%的伤害  40  直接秒杀  41 追加N次普通攻击  42  下一轮打击伤害值翻倍
%%	     43 敌方全体平分必杀N倍的伤害 44 死亡标记  45 必杀后触发一次普攻  46 死亡标记+1
%%	     47 受到多种减益状态 48 不消耗怒气的必杀  49 怪力追击  50 追加必杀且暴击
%%	     51 追加普通攻击  52 收到的伤害提高 54 追加必杀且必暴击
%%	     55 普攻和必杀目标+N  56 附加生命上限N的伤害  57 灵魂(伤害)链接
%%	     58  必杀追击  59 追击必杀   60 继续追击   61  追击伤害翻倍
%%	     62 凝冬效果  63  冰封   64  复制  65 多段攻击 66 免伤  67 治疗
%%	     68 群聊 69 普攻+1  70 必杀+1  71 冰冻 72 眩晕 73 麻痹 74 睡眠 75 技能概率提高
%%	     76 格挡   77 减少能量  78 伤害翻倍  79 必杀暴击连击普通攻击    80 伤害连接
%% 		 81  唱歌  82 增加造成的伤害  83 减少伤害且降低回能百分比(100-Value)
%% 系数: [x,x,x],如果有系数则填,没有则留空
%% 变身状态: 0 普通 1 沉睡 2 歌唱 3 舞步



%%生命链接，当其中一个单位受到伤害时，被链接的单位受到额外70%的伤害
{1102, {data_unique_effect, 7, 1, 100, 1, 13, 85, [50], false, false, false,0}}.

%% 小鸭嘴龙 +20 伤害翻倍   
{1103, {data_unique_effect, 2, 0, 30, 0, 7, 78, [2], false, false, false,0}}.

%% 必杀后有几率连击      
{1104, {data_unique_effect, 16, 0, 30, 0, 13, 7, [[0,3]], false, undefined, false,0}}.

%% 下次攻击的暴击率     小电狮 +20   0
{1105, {data_unique_effect, 1, 0, 100, 0, 0, 2, [50], false, undefined, false,0}}.

%% 必杀命中后增伤15%     
{1106, {data_unique_effect, 2, 1, 100, 2, 7, 3, [15], true, true, false,0}}.

%%必杀对生命值低于20%的精灵造成3倍伤害   0
{1107, {data_unique_effect, 99, 0, 100, 0, 7, 19, [20, 2], false, undefined, false,0}}.

%% 火焰鸟 +20 触发dot 持续2回合     
{1108, {data_unique_effect, 7, 0, 100, 2, 7, 12, [1,10], true, false, false,0}}.

%% 必杀后自身受到的伤害降低20%，持续1回合   
{1109, {data_unique_effect, 2, 0, 100, 1, 0, 1, [20,2], false, true, false,0}}.

%% 墨海马+20 必杀暴击连击普通攻击
{1110 ,{data_unique_effect, 99, 0, 100, 0, 0, 55, [1], false, undefined, false,0}}.

%% 小火龙+20 暴击后增伤   
{1111, {data_unique_effect, 7, 1, 15, 1, 7, 6, [], true, undefined, true,0}}.

%% 皮卡丘 必杀后有几率连击   
{1112, {data_unique_effect, 16, 0, 30, 0, 13, 7, [[0,4]], false, undefined, false,0}}.

%% 歌唱,参数格式:[作用的状态, [权值列表:{权重, {类型, 参数}}]]
{1113, {data_unique_effect, 9, 0, 50, 1, {8, 1}, 81, [[0, 2],1, [{20, {damage_sub, 30}}, {40, {inc_sp, 50}}, {40, {atk_dmg_plus, 50}}]], false, true, false,0}}.

%% 妙蛙种子 +20   
{1114, {data_unique_effect, 2, 0, 50, 0, 15, 5, [50], false, undefined, false,0}}.

%% 小火猴 +20   
{1115, {data_unique_effect, 16, 0, 100, 1, 1, 82, [20], false, true, false,0}}.

%% 必杀后自身受到的伤害降低50%，持续1回合   小钢甲 +20
{1116, {data_unique_effect, 2, 0, 100, 1, 0, 83, [50,100], false, true, false,0}}.


%% 必杀后追加一次必杀
{1090, {data_unique_effect, 16, 0, 100, 0, 7, 60, [[0],[100,80,40,20,0]], false, undefined, true,0}}.
%% 熊猫+15：追击触发一次不消耗怒气的必杀
{1091, {data_unique_effect, 17, 0, 100, 0, 7, 60, [[0],[100,80,40,20,0]], false, undefined, true,0}}.
%% +20 第一次追击目标增加
{1092, {data_unique_effect, 16, 0, 100, 0, 17, 60, [[70],[100,80,40,20,0]], false, undefined, true,1090}}.
%% +20 增加连招目标
{1093, {data_unique_effect, 17, 0, 100, 0, 17, 60, [[70],[100,80,40,20,0]], false, undefined, true,1091}}.
%% +25  增加连招伤害
{1094, {data_unique_effect, 99, 0, 100, 0, 0, 65, [], false, undefined, false,0}}.
%% +30  连招伤害翻倍
{1100, {data_unique_effect, 3, 0, 100, 0, 0, 61, [1], false, undefined, false,1093}}.



%% 呆呆兽  +10
{1095, {data_unique_effect, 16, 0, 100, 0, 0, 62, [30], false, undefined, false,0}}.
%% 呆呆兽 +15
{1096, {data_unique_effect, 21, 0, 100, 1, {9,2}, 63, [1], false, undefined, false,0}}.
%% +20
{1097, {data_unique_effect, 16, 0, 100, 0, 0, 62, [100], false, undefined, false,1095}}.
%% +25
{1098, {data_unique_effect, 2, 0, 10, 0, 13, 58, [], false, undefined, false,0}}.
%% +30
{1099, {data_unique_effect, 21, 0, 100, 1, 4, 63, [2], false, undefined, false,1096}}.

%% 复制  参数1:0 复制为非闪光 1复制为闪光  参数2:0 不启用物理魔法平衡 1启用物理魔法平衡
{1101,{data_unique_effect, 20, 0, 100, 0, 0, 64, [0,0], false, undefined, false,0}}.

%% 必杀后自身受到的伤害降低20%，持续2回合
{1000, {data_unique_effect, 2, 0, 100, 2, 0, 1, [20,1], false, true, false,0}}.
%% 必杀闪避后追加攻击，必定命中且暴击
{1001, {data_unique_effect, 2, 2, 100, 0, 13, 4, [], false, undefined, false,0}}.
%% 必杀暴击率提高30%
{1002, {data_unique_effect, 1, 0, 100, 0, 0, 2, [30], false, undefined, false,0}}.
%% 必杀命中后50%几率降低敌方50点怒气
{1003, {data_unique_effect, 7, 1, 50, 0, 7, 5, [50], true, undefined, false,0}}.
%% 必杀命中后增伤15%
{1004, {data_unique_effect, 2, 1, 100, 2, 7, 3, [15], true, true, false,0}}.
%% 必杀必定眩晕1名敌方
{1005, {data_unique_effect, 2, 0, 100, 1, {9, 1}, 6, [], false, undefined, true,0}}.
%% 必杀后有几率连击
{1006, {data_unique_effect, 16, 0, 30, 0, 13, 7, [[0,1]], false, undefined, false,0}}.
%% 追击后有几率连击
{1007, {data_unique_effect, 17, 0, 50, 0, 13, 7, [[0,1]], false, undefined, false,0}}.
%% 必杀后无敌1回合
{1008, {data_unique_effect, 16, 0, 100, 1, 0, 10, [1], false, true, false,0}}.
%% 必杀后全体增加30点命中
{1009, {data_unique_effect, 16, 0, 100, 2, 1, 11, [30], false, true, false,0}}.
%% 必杀后自己恢复25点能量
{1010, {data_unique_effect, 2, 0, 100, 0, 0, 9, [25], false, undefined, false,0}}.
%% 必杀命中15%几率眩晕目标
{1011, {data_unique_effect, 7, 1, 15, 1, 7, 6, [], true, undefined, true,0}}.
%% 必杀后追加一次必杀
{1012, {data_unique_effect, 5, 0, 100, 0, 7, 8, [], false, undefined, false,0}}.
%% 必杀后自己恢复100点能量
{1013, {data_unique_effect, 5, 0, 100, 0, 0, 9, [100], false, undefined, false,0}}.

%% 触发dot 持续2回合
{1014, {data_unique_effect, 7, 0, 100, 2, 7, 12, [1,30], true, false, false,0}}.
%% 触发治疗效果降低50%，持续2回合
{1015, {data_unique_effect, 7, 1, 100, 2, 7, 13, [50], true, false, false,0}}.

%%返还普攻，2倍伤害 
{1016, {data_unique_effect, 6, 0, 100, 0, 0, 14, [2,1], false, undefined, false,0}}.
%%返还必杀，2倍伤害
{1017, {data_unique_effect, 6, 0, 100, 0, 0, 15, [2,1], false, undefined, false,0}}.

%%释放必杀前随机沉睡敌方1～3个单位，持续1回合 
{1018, {data_unique_effect, 1, 0, 100, 1, {12, [{85,1},{10,2},{5,3}]}, 16, [1], false, false, true,0}}.
%%对沉睡的目标造成3倍伤害
{1019, {data_unique_effect, 99, 0, 100, 0, 7, 17, [3], false, undefined, false,0}}.

%%削弱敌方防御，使其受到的伤害提高15%，持续2回合
{1020, {data_unique_effect, 2, 1, 100, 2, 7, 3, [15], true, false, false,0}}.
%%生命链接，当其中一个单位受到伤害时，被链接的单位受到额外70%的伤害
{1021, {data_unique_effect, 7, 1, 100, 1, 13, 18, [70], false, false, false,0}}.

%%必杀对生命值低于20%的精灵造成3倍伤害
{1022, {data_unique_effect, 99, 0, 100, 0, 7, 19, [20, 3], false, undefined, false,0}}.
%%必杀目标+1……………………帅哥威武
{1023, {data_unique_effect, 99, 0, 100, 0, 0, 20, [1], false, undefined, false,0}}.

%% 迷惑
%% 参数:[迷惑个数,带权值随机列表]
%% 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{1024, {data_unique_effect, 1, 0, 100, 1, 4, 27, [1,1, [{30,{allure, 0}},{10,{rage, 0}},{30,{weary,25}},{30,{weak,50}}]], false, false, true,0}}.

%% 增加迷惑个数
{1025, {data_unique_effect, 99, 0, 100, 0, 0, 28, [1], false, undefined, false,0}}.

%% 增加自身减伤和造成的伤害
{1026, {data_unique_effect, 16, 0, 100, 1, 1, 29, [20], false, true, false,0}}.

%% 草苗龟+25：增加自身减伤和造成的伤害
{1081, {data_unique_effect, 16, 0, 100, 1, 1, 29, [40], false, true, false,1026}}.

%% 去除己方减益,敌方增益(作用对象可以随便填)
{1027, {data_unique_effect, 1, 0, 100, 0, 0, 30, [], false, undefined, true,0}}.

%% 必杀沉睡变身, 反击造成必杀的2倍伤害
{1031, {data_unique_effect, 9, 0, 100, 1, 0, 33, [2], false, undefined, false,0}}.

%% 沉睡反击暴击
{1034, {data_unique_effect, 99, 0, 100, 0, 0, 34, [2], false, undefined, false,0}}.

%% 歌唱,参数格式:[作用的状态, [权值列表:{权重, {类型, 参数}}]]
{1035, {data_unique_effect, 9, 0, 100, 1, {8, 1}, 35, [[0, 2],1, [{20, {damage_sub, 30}}, {40, {inc_sp, 50}}, {40, {atk_dmg_plus, 50}}]], false, true, false,0}}.

%% 舞步
{1036, {data_unique_effect, 9, 0, 100, 1, {8, 1}, 36, [[3],1, [{20, {invincible, 0}}, {40, {inc_sp, 100}}, {40, {hit_critic, 0}}]], false, true, false,0}}.

%% 皮神+25：普攻后15%几率触发一次不消耗怒气的必杀
{1037, {data_unique_effect, 13, 0, 30, 0, 4, 38, [30], true, undefined, true,0}}.

%% 皮神+30：必杀后必定触发一次普攻
{1038, {data_unique_effect, 16, 0, 100, 0, 4, 45, [100], true, undefined, true,0}}.

%% 杰尼龟+25：必杀后自身受到的伤害降低50%，持续2回合
{1039, {data_unique_effect, 2, 0, 100, 2, 0, 1, [50,1], false, true, false,1000}}.

%% 杰尼龟+30：必杀附加生命上限3%的伤害
{1040, {data_unique_effect, 1, 0, 100, 0, 0, 56, [3], false, undefined, false,0}}.

%% 巨牙鲨+25：必杀有3%的几率直接秒杀对方  
{1041, {data_unique_effect, 99, 0, 0, 0, 0, 40, [1,3], false, undefined, false,0}}.

%% 无敌形成时全屏神圣伤害,伤害值相当于目标血量上限1%
{1042, {data_unique_effect, 10, 0, 100, 0, 4, 39, [1], false, undefined, false,0}}.

%% 无敌形成时全屏神圣伤害,伤害值相当于目标血量上限1%
{1043, {data_unique_effect, 11, 0, 100, 0, 4, 39, [1], false, undefined, false,0}}.

%% 喵喵+25：必杀后进入疯狂模式
{1044, {data_unique_effect, 2, 0, 100, 0, 15, 41, [], false, undefined, false,0}}.
{1080, {data_unique_effect, 4, 0, 100, 0, 15, 41, [], false, undefined, false,0}}.

%% 喵喵+30：下一轮疯狂打击伤害值翻倍
{1045, {data_unique_effect, 17, 0, 100, 0, 0, 42, [], false, undefined, false,0}}.

%% 草苗龟+30：必杀后引发一次陨石伤害
{1046, {data_unique_effect, 16, 0, 100, 0, 0, 43, [6], false, undefined, false,0}}.

%% 大翼黑龙+25：死亡标记
{1047, {data_unique_effect, 1, 0, 100, 1, 15, 44, [23000], false, undefined, false,0}}.

%% 大翼黑龙+30：死亡标记+1
{1048, {data_unique_effect, 99, 0, 100, 1, 15, 46, [1], false, undefined, false,0}}.


%% 脆弱和疲劳等多减益附加
{1049, {data_unique_effect, 18, 0, 100, 1, {16,1,1003}, 47, [2,[{weary,50},{weak,50}]], true, false, false,0}}.

%%必杀对生命值低于50%的精灵造成3倍伤害
{1050, {data_unique_effect, 99, 0, 100, 0, 7, 19, [50, 3], false, undefined, false,0}}.
%%必杀目标+1
{1051, {data_unique_effect, 99, 0, 100, 0, 0, 20, [2], false, undefined, false,0}}.

%% 普通追击,并造成dot伤害(30%的概率触发,造成70%伤害的dot伤害持续2回合)
{1029, {data_unique_effect, 2, 0, 30, 0, 7, 31, [{70, 2}], true, undefined, false,0}}.
%% 必杀追击,并且暴击
{1030, {data_unique_effect, 19, 0, 30, 0, 7, 32, [], true, undefined, false,0}}.
%% 三头龙+25：追击触发一次不消耗怒气的必杀
{1052, {data_unique_effect, 14, 0, 50, 0, 7, 48, [], false, undefined, false,0}}.
%% 三头龙+30：追击触发一次不消耗怒气的必杀
{1082, {data_unique_effect, 15, 0, 50, 0, 7, 48, [], false, undefined, false,0}}.


%% 美洛耶塔+25：歌唱,参数格式:[作用的状态, [权值列表:{权重, {类型, 参数}}]]
{1053, {data_unique_effect, 9, 0, 100, 1, {8, 2}, 35, [[0, 2], 3, [{damage_sub, 30}, {inc_sp, 50}, {atk_dmg_plus, 50}]], false, true, false,1035}}.

%% 美洛耶塔+30：舞步
{1054, {data_unique_effect, 9, 0, 100, 1, {8, 2}, 36, [[3], 3, [ {inc_sp, 100},{hit_critic, 0},{invincible, 0}]], false, true, false,1036}}.

%% 卡比兽+25：必杀沉睡变身, 反击造成必杀的2倍伤害
{1055, {data_unique_effect, 9, 0, 100, 1, 0, 33, [4], false, undefined, false,1031}}.

%% 卡比兽+25：沉睡反击暴击
{1056, {data_unique_effect, 99, 0, 100, 0, 0, 34, [2], false, undefined, false,1034}}.

%% 卡比兽+30：反击后重新进入沉睡
{1057, {data_unique_effect, 12, 0, 100, 1, 0, 33, [4], false, undefined, false,0}}.

%% 必杀后有几率连击  怪力追击
{1058, {data_unique_effect, 7, 0, 100, 0, 13, 49, [], false, undefined, false,0}}.

%%返还普攻，0.5倍伤害 
{1059, {data_unique_effect, 6, 0, 100, 0, 0, 14, [0.5,2], false, undefined, false,0}}.
%%返还必杀，0.5倍伤害
{1060, {data_unique_effect, 6, 0, 100, 0, 0, 15, [0.5,2], false, undefined, false,0}}.

%% 必杀后追加一次必杀
{1061, {data_unique_effect, 2, 0, 100, 0, 13, 50, [], false, undefined, false,0}}.

%% 必杀后有几率连击
{1062, {data_unique_effect, 2, 0, 30, 0, 13, 51, [], false, undefined, false,0}}.
%% 追击后有几率连击
{1063, {data_unique_effect, 4, 0, 40, 0, 13, 51, [], false, undefined, false,0}}.

%% 必杀后精灵受到的伤害提高
{1064, {data_unique_effect, 7, 0, 100, 0, 7, 52, [15], true, undefined, false,0}}.

%% 必杀后追加一次必杀
{1065, {data_unique_effect, 2, 0, 30, 0, 13, 54, [], false, undefined, false,0}}.

%% 巨牙鲨+30/快龙+30：普攻和必杀目标+1 
{1066, {data_unique_effect, 99, 0, 100, 0, 0, 55, [1], false, undefined, false,0}}.

%% 火焰鸡+25：必杀后有几率连击
{1067, {data_unique_effect, 16, 0, 100, 0, 13, 7, [[1,2]], false, undefined, false,1006}}.
%% 火焰鸡+30：追击后有几率连击
{1068, {data_unique_effect, 17, 0, 100, 0, 13, 7, [[1,2]], false, undefined, false,1007}}.

%%果然翁+25：返还普攻，3倍伤害 
{1069, {data_unique_effect, 6, 0, 100, 0, 0, 14, [3,1], false, undefined, false,1016}}.
%%果然翁+25：返还必杀，3倍伤害
{1070, {data_unique_effect, 6, 0, 100, 0, 0, 15, [3,1], false, undefined, false,1017}}.

%%果然翁+30：返还普攻，4倍伤害 
{1071, {data_unique_effect, 6, 0, 100, 0, 0, 14, [4,3], false, undefined, false,1069}}.
%%果然翁+30：返还必杀，4倍伤害
{1072, {data_unique_effect, 6, 0, 100, 0, 0, 15, [4,3], false, undefined, false,1070}}.

%%可达鸭+25：对沉睡的目标造成6倍伤害
{1073, {data_unique_effect, 99, 0, 100, 0, 7, 17, [6], false, undefined, false,1019}}.
%%可达鸭+30：释放必杀前随机沉睡敌方3-6个单位，持续1回合 
{1074, {data_unique_effect, 1, 0, 100, 1, {12, [{65,3},{20,4},{10,5},{5,6}]}, 16, [2], false, false, true,1018}}.

%%快龙+25：削弱敌方防御，使其受到的伤害提高50%，持续2回合
{1075, {data_unique_effect, 2, 1, 100, 2, 7, 3, [65], true, false, false,1020}}.

%%蒂安希+25：必杀对生命值低于50%的精灵造成3倍伤害
{1076, {data_unique_effect, 99, 0, 100, 0, 7, 19, [50, 3], false, undefined, false,0}}.
%%蒂安希+30：必杀目标再次+1
{1077, {data_unique_effect, 99, 0, 100, 0, 0, 20, [2], false, undefined, false,0}}.

%% 九尾+25：疲劳和脆弱效果翻倍
{1078, {data_unique_effect, 1, 0, 100, 1, 4, 27, [1,1, [{30,{allure, 0}},{10,{rage, 0}},{30,{weary,50}},{30,{weak,100}}]], false, false, true,1024}}.
%% 九尾+30：增加迷惑个数
{1079, {data_unique_effect, 99, 0, 100, 0, 0, 28, [2], false, undefined, false,0}}.
 
%% 鲨鱼追击,更换actionID
{1083, {data_unique_effect, 5, 0, 100, 0, 7, 8, [1], false, undefined, false,1012}}.

%% 必杀后追加一次必杀  创世ID
{1084, {data_unique_effect, 5, 0, 100, 0, 7, 8, [2], false, undefined, false,0}}.

%%必杀对生命值低于50%的精灵造成2倍伤害
{1085, {data_unique_effect, 99, 0, 100, 0, 7, 19, [50, 2], false, undefined, false,0}}.

%%生命链接，当其中一个单位受到伤害时，被链接的单位受到额外70%的伤害
{1086, {data_unique_effect, 7, 1, 100, 1, 13, 57, [70], false, false, false,0}}.

%% 荆棘花+25：普攻和必杀目标+6（变为全体） 
{1087, {data_unique_effect, 99, 0, 100, 0, 0, 55, [6], false, undefined, false,0}}.


%% 触发dot 持续1回合
{1088, {data_unique_effect, 18, 0, 100, 1, {16,1,1003}, 12, [2,100], true, false, false,0}}.

%% 九尾+30：暴怒伤害提高100%
{1089, {data_unique_effect, 1, 0, 100, 1, 4, 27, [1,2, [{30,{allure, 0}},{10,{rage, 100}},{30,{weary,50}},{30,{weak,100}}]], false, false, true,1078}}.

%% 闪光皮神+15削弱敌方防御，使其受到的伤害提高50%，持续2回合
{1117, {data_unique_effect, 2, 1, 100, 2, 7, 3, [50], true, false, false,0}}.
%% 闪光皮神+25：普攻后45%几率触发一次不消耗怒气的必杀
{1118, {data_unique_effect, 13, 0, 45, 0, 4, 38, [45], true, undefined, true,0}}.
%% 闪光黑龙必杀命中后增伤50%
{1119, {data_unique_effect, 2, 1, 100, 2, 7, 3, [50], true, true, false,0}}.
%% 闪光黑龙必杀必定眩晕2名敌方
{1120, {data_unique_effect, 2, 0, 100, 1, {9, 2}, 6, [], false, undefined, true,0}}.
%% 闪光大翼黑龙+25：死亡标记
{1121, {data_unique_effect, 1, 0, 100, 1, 15, 44, [30000], false, undefined, false,0}}.

%% 闪光大翼黑龙+30：死亡标记+3
{1122, {data_unique_effect, 99, 0, 100, 1, 15, 46, [3], false, undefined, false,0}}.
%%闪光鸭子释放必杀前随机沉睡敌方2～3个单位，持续1回合 
{1123, {data_unique_effect, 1, 0, 100, 1, {12, [{80,2},{20,3}]}, 16, [1], false, false, true,0}}.
%%对沉睡的目标造成5倍伤害
{1124, {data_unique_effect, 99, 0, 100, 0, 7, 17, [5], false, undefined, false,0}}.
%%闪光+25：对沉睡的目标造成10倍伤害
{1130, {data_unique_effect, 99, 0, 100, 0, 7, 17, [10], false, undefined, false,1124}}.
%%闪光可达鸭+30：释放必杀前随机沉睡敌方6个单位，持续1回合 
{1125, {data_unique_effect, 1, 0, 100, 1, {12, [{100,6}]}, 16, [2], false, false, true,1123}}.
%%闪光快龙削弱敌方防御，使其受到的伤害提高45%，持续2回合
{1126, {data_unique_effect, 2, 1, 100, 2, 7, 3, [45], true, false, false,0}}.
%%生命链接，当其中一个单位受到伤害时，被链接的单位受到额外100%的伤害
{1127, {data_unique_effect, 7, 1, 100, 1, 13, 18, [100], false, false, false,0}}.
%%闪光快龙+25：削弱敌方防御，使其受到的伤害提高100%，持续2回合
{1128, {data_unique_effect, 2, 1, 100, 1, 7, 3, [100], true, false, false,1126}}.
%% 闪光快龙+30：伤害链接目标变为敌方全体 
{1129, {data_unique_effect, 99, 0, 100, 0, 0, 55, [6], false, undefined, false,0}}.

%% 闪光鲨鱼+15 必杀命中20%几率眩晕目标
{1131, {data_unique_effect, 7, 1, 20, 1, 7, 6, [], true, undefined, true,0}}.
%% 闪光鲨鱼+20 必杀后追加一次必杀
{1132, {data_unique_effect, 5, 0, 100, 0, 7, 8, [{max_c,8}], false, undefined, false,0}}.
%% 巨牙鲨+25：必杀有5%的几率直接秒杀对方  
{1133, {data_unique_effect, 99, 0, 0, 0, 0, 40, [1,5], false, undefined, false,0}}.
%% 巨牙鲨+30：普攻和必杀目标+2
{1134, {data_unique_effect, 99, 0, 100, 0, 0, 55, [2], false, undefined, false,0}}.
%% 鲨鱼追击,更换actionID
{1135, {data_unique_effect, 5, 0, 100, 0, 7, 8, [1,{max_c,8}], false, undefined, false,1132}}.



%% 闪光呆呆兽  +10
{1136, {data_unique_effect, 16, 0, 100, 0, 0, 62, [50], false, undefined, false,0}}.
%% 呆呆兽 +15
{1137, {data_unique_effect, 21, 0, 100, 1, {9,3}, 63, [1], false, undefined, false,0}}.
%% +20
{1138, {data_unique_effect, 16, 0, 100, 0, 0, 62, [180], false, undefined, false,1136}}.
%% +25
{1139, {data_unique_effect, 2, 0, 30, 0, 13, 58, [], false, undefined, false,0}}.
%% +30
{1140, {data_unique_effect, 21, 0, 100, 2, 4, 63, [2], false, undefined, false,1137}}.

%% 去除眩晕
{1141, {data_unique_effect, 25, 0, 0, 0, 0, 84, [], false, undefined, true,0}}.

%%闪光果然翁
%%返还普攻，2倍伤害 
{1142, {data_unique_effect, 6, 0, 100, 0, 0, 14, [2,1], false, undefined, false,0}}.
%%返还必杀，2倍伤害
{1143, {data_unique_effect, 6, 0, 100, 0, 0, 15, [2,1], false, undefined, false,0}}.
%%果然翁+25：返还普攻，3倍伤害 
{1144, {data_unique_effect, 6, 0, 100, 0, 0, 14, [3,1], false, undefined, false,1142}}.
%%果然翁+25：返还必杀，3倍伤害
{1145, {data_unique_effect, 6, 0, 100, 0, 0, 15, [3,1], false, undefined, false,1143}}.

%%果然翁+30：返还普攻，4倍伤害 
{1146, {data_unique_effect, 6, 0, 100, 0, 0, 14, [4,3], false, undefined, false,1144}}.
%%果然翁+30：返还必杀，4倍伤害
{1147, {data_unique_effect, 6, 0, 100, 0, 0, 15, [4,3], false, undefined, false,1145}}.

%闪光熊猫
%% 必杀后追加一次必杀
{1148, {data_unique_effect, 16, 0, 100, 0, 7, 60, [[0],[100,80,60,30,20,10,0]], false, undefined, true,0}}.
%% 熊猫+15：追击触发一次不消耗怒气的必杀
{1149, {data_unique_effect, 17, 0, 100, 0, 7, 60, [[0],[100,80,60,30,20,10,0]], false, undefined, true,0}}.
%% +20 第一次追击目标增加
{1150, {data_unique_effect, 16, 0, 100, 0, 17, 60, [[70],[100,80,60,30,20,10,0]], false, undefined, true,1148}}.
%% +20 增加连招目标
{1151, {data_unique_effect, 17, 0, 100, 0, 17, 60, [[70],[100,80,60,30,20,10,0]], false, undefined, true,1149}}.
%% +25  增加连招伤害
{1152, {data_unique_effect, 99, 0, 100, 0, 0, 65, [], false, undefined, false,0}}.
%% +30  连招伤害翻倍
{1153, {data_unique_effect, 3, 0, 100, 0, 0, 61, [1], false, undefined, false,1151}}.




%% 秒杀  type=2,1%几率触发
{3001, {data_unique_effect, 99, 0, 0, 0, 0, 40, [2,1], false, undefined, false,0}}.
%% 无敌  5%几率触发
{3002, {data_unique_effect, 16, 0, 5, 1, 0, 10, [2], false, true, false,0}}.

%% 控制  冰冻2.5%概率
{3003, {data_unique_effect, 22, 0, 2.5, 1, 7, 71, [1], true, false, true,0}}.
%%  眩晕
{3004, {data_unique_effect, 22, 0, 2.5, 1, 7, 72, [1], true, undefined, true,0}}.
%% 睡眠
{3005, {data_unique_effect, 22, 0, 2.5, 1, 7, 74, [1], true, false, true,0}}.
%% 迷惑 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{3006, {data_unique_effect, 22, 0, 2.5, 1, 7, 27, [1,3, [{30,{allure, 1}}]], true, false, true,0}}.
%% 麻痹
{3007, {data_unique_effect, 22, 0, 2.5, 1, 7, 73, [1], true, false, true,0}}.

%% 被动控制 2.5%概率
%% 冰冻
{3008, {data_unique_effect, 23, 0, 2.5, 1.5, 7, 71, [2], true, false, false,0}}.
%%  眩晕
{3009, {data_unique_effect, 23, 0, 2.5, 1.5, 7, 72, [2], false, undefined, true,0}}.
%% 睡眠
{3010, {data_unique_effect, 23, 0, 2.5, 1.5, 7, 74, [2], false, false, true,0}}.
%% 迷惑 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{3011, {data_unique_effect, 23, 0, 2.5, 1.5, 7, 27, [1,4, [{30,{allure, 2}}]], false, false, true,0}}.
%% 麻痹
{3012, {data_unique_effect, 23, 0, 2.5, 1.5, 7, 73, [2], true, false, false,0}}.

%% 免伤  概率 5%
%{3013, {data_unique_effect, 99, 0, 0, 0, 0, 66, [5], true, undefined, false,0}}.
%% 格挡
{3013,  {data_unique_effect, 24, 0, 5, 1, 0, 76, [], false, undefined, false,0}}.

%% 治疗 5%的概率100%的回血，95%的概率不回血
{3014, {data_unique_effect, 99, 0, 100, 0, 0, 67, [[{5,100},{95,0}]], false, undefined, false,0}}.

%% 群疗
{3015, {data_unique_effect, 99, 0, 100, 0, 0, 68, [[{3,20},{97,0}]], false, undefined, false,0}}.

%% 必杀+1，+2，+6
{3024, {data_unique_effect, 99, 0, 100, 0, 0, 69, [1], false, undefined, false,0}}.
{3025, {data_unique_effect, 99, 0, 100, 0, 0, 69, [2], false, undefined, false,0}}.
{3026, {data_unique_effect, 99, 0, 100, 0, 0, 69, [6], false, undefined, false,0}}.
%% 普攻+1，+2，+6
{3027, {data_unique_effect, 99, 0, 100, 0, 0, 70, [1], false, undefined, false,0}}.
{3028, {data_unique_effect, 99, 0, 100, 0, 0, 70, [2], false, undefined, false,0}}.
{3029, {data_unique_effect, 99, 0, 100, 0, 0, 70, [6], false, undefined, false,0}}.

%% 技能概率提高   技能id列表,概率增幅 熊猫下盘踢
{3018, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1091,1093,1100],5}], false, undefined, false,0}}.
{3019, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1091,1093,1100],10}], false, undefined, false,0}}.
%% 技能概率提高   技能id列表,概率增幅 火鸡火焰踢
{3020, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1067],10}], false, undefined, false,0}}.
{3021, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1067],20}], false, undefined, false,0}}.
%% 技能概率提高   技能id列表,概率增幅 皮神暴走雷击
{3022, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1037,1118],5}], false, undefined, false,0}}.
{3023, {data_unique_effect, 99, 0, 100, 0, 0, 75, [{[1037,1118],10}], false, undefined, false,0}}.

%%10级宝石
%% 秒杀  type=2,2%几率触发
{3031, {data_unique_effect, 99, 0, 0, 0, 0, 40, [2,1.5], false, undefined, false,0}}.
%% 无敌  7.5%几率触发
{3032, {data_unique_effect, 16, 0, 7.5, 1, 0, 10, [2], false, true, false,0}}.

%% 控制  冰冻3.5%概率
{3033, {data_unique_effect, 22, 0, 3.5, 1, 7, 71, [1], true, false, true,0}}.
%%  眩晕
{3034, {data_unique_effect, 22, 0, 3.5, 1, 7, 72, [1], true, undefined, true,0}}.
%% 睡眠
{3035, {data_unique_effect, 22, 0, 3.5, 1, 7, 74, [1], true, false, true,0}}.
%% 迷惑 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{3036, {data_unique_effect, 22, 0, 3.5, 1, 7, 27, [1,3, [{30,{allure, 1}}]], true, false, true,0}}.
%% 麻痹
{3037, {data_unique_effect, 22, 0, 3.5, 1, 7, 73, [1], true, false, true,0}}.

%% 被动控制 3.5%概率
%% 冰冻
{3038, {data_unique_effect, 23, 0, 3.5, 1.5, 7, 71, [2], true, false, false,0}}.
%%  眩晕
{3039, {data_unique_effect, 23, 0, 3.5, 1.5, 7, 72, [2], false, undefined, true,0}}.
%% 睡眠
{3040, {data_unique_effect, 23, 0, 3.5, 1.5, 7, 74, [2], false, false, true,0}}.
%% 迷惑 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{3041, {data_unique_effect, 23, 0, 3.5, 1.5, 7, 27, [1,4, [{30,{allure, 2}}]], false, false, true,0}}.
%% 麻痹
{3042, {data_unique_effect, 23, 0, 3.5, 1.5, 7, 73, [2], true, false, false,0}}.

%% 免伤  概率 7.5%
%{3043, {data_unique_effect, 99, 0, 0, 0, 0, 66, [5], true, undefined, false,0}}.
%% 格挡
{3043,  {data_unique_effect, 24, 0, 7.5, 1, 0, 76, [], false, undefined, false,0}}.

%% 治疗 7.5%的概率100%的回血，95%的概率不回血
{3044, {data_unique_effect, 99, 0, 100, 0, 0, 67, [[{7.5,100},{92.5,0}]], false, undefined, false,0}}.

%% 群疗
{3045, {data_unique_effect, 99, 0, 100, 0, 0, 68, [[{4.5,20},{95.5,0}]], false, undefined, false,0}}.





%%新进阶的+10用了觉醒5的最初级状态
%% 水系冰冻效果
{2001, {data_unique_effect, 2, 1, 2, 1, 7, 25, [], true, false, false,0}}.
%% 火系爆炸效果
{2002, {data_unique_effect, 8, 1, 2, 1, 7, 21, [50], true, undefined, false,0}}.
%% 雷系麻痹效果
{2004, {data_unique_effect, 2, 1, 2, 1, 7, 26, [], true, false, false,0}}.
%% 草系恢复生命效果
{2003, {data_unique_effect, 2, 0, 2, 1, 0, 22, [10], false, undefined, false,0}}.
%% 飞行触发再一次普攻效果(貌似好了)
{2005, {data_unique_effect, 2, 1, 2, 0, 13, 24, [], false, undefined, false,0}}.
%% 超能触发恢复友军生命效果(貌似好了)
{2007, {data_unique_effect, 2, 0, 2, 1, 1, 22, [5], false, undefined, false,0}}.
%% 格斗系造成流血效果(貌似好了)
{2006, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,10], true, false, false,0}}.
%% 岩石系减少自身伤害，持续2回合(貌似好了)
{2008, {data_unique_effect, 2, 0, 2, 2, 0, 23, [10], false, true, false,0}}.


%% {ID, {data_unique_effect, 释放时间, 条件, 触发几率(上限100), 持续回合, 作用对象, 效果类型, 系数, 是否允许群攻时多次触发, true}}
%%精灵觉醒第5阶段增加的必杀特效(占用了5001-5999的所有ID，这些ID会在下一次出手时去除掉，所以不要用了)
%% 水系冰冻效果
{5101, {data_unique_effect, 2, 1, 2, 1, 7, 25, [], true, false, false,0}}.
{5102, {data_unique_effect, 2, 1, 4, 1, 7, 25, [], true, false, false,0}}.
{5103, {data_unique_effect, 2, 1, 6, 1, 7, 25, [], true, false, false,0}}.
{5104, {data_unique_effect, 2, 1, 8, 1, 7, 25, [], true, false, false,0}}.
{5105, {data_unique_effect, 2, 1, 10, 1, 7, 25, [], true, false, false,0}}.
{5106, {data_unique_effect, 2, 1, 15, 1, 7, 25, [], true, false, false,0}}.
{5107, {data_unique_effect, 2, 1, 20, 1, 7, 25, [], true, false, false,0}}.

%% 火系爆炸效果(做了单独处理)
{5211, {data_unique_effect, 8, 1, 2, 1, 7, 21, [50], true, undefined, false,0}}.
{5212, {data_unique_effect, 8, 1, 4, 1, 7, 21, [50], true, undefined, false,0}}.
{5213, {data_unique_effect, 8, 1, 6, 1, 7, 21, [50], true, undefined, false,0}}.
{5214, {data_unique_effect, 8, 1, 8, 1, 7, 21, [50], true, undefined, false,0}}.
{5215, {data_unique_effect, 8, 1, 10, 1, 7, 21, [50], true, undefined, false,0}}.
{5216, {data_unique_effect, 8, 1, 15, 1, 7, 21, [50], true, undefined, false,0}}.
{5217, {data_unique_effect, 8, 1, 20, 1, 7, 21, [50], true, undefined, false,0}}.
{5222, {data_unique_effect, 8, 1, 2, 1, 7, 21, [75], true, undefined, false,0}}.
{5223, {data_unique_effect, 8, 1, 4, 1, 7, 21, [75], true, undefined, false,0}}.
{5224, {data_unique_effect, 8, 1, 6, 1, 7, 21, [75], true, undefined, false,0}}.
{5225, {data_unique_effect, 8, 1, 8, 1, 7, 21, [75], true, undefined, false,0}}.
{5226, {data_unique_effect, 8, 1, 10, 1, 7, 21, [75], true, undefined, false,0}}.
{5227, {data_unique_effect, 8, 1, 15, 1, 7, 21, [75], true, undefined, false,0}}.
{5233, {data_unique_effect, 8, 1, 2, 1, 7, 21, [100], true, undefined, false,0}}.
{5234, {data_unique_effect, 8, 1, 4, 1, 7, 21, [100], true, undefined, false,0}}.
{5235, {data_unique_effect, 8, 1, 6, 1, 7, 21, [100], true, undefined, false,0}}.
{5236, {data_unique_effect, 8, 1, 8, 1, 7, 21, [100], true, undefined, false,0}}.
{5237, {data_unique_effect, 8, 1, 10, 1, 7, 21, [100], true, undefined, false,0}}.

%% 雷系麻痹效果
{5301, {data_unique_effect, 2, 1, 2, 1, 7, 26, [], true, false, false,0}}.
{5302, {data_unique_effect, 2, 1, 4, 1, 7, 26, [], true, false, false,0}}.
{5303, {data_unique_effect, 2, 1, 6, 1, 7, 26, [], true, false, false,0}}.
{5304, {data_unique_effect, 2, 1, 8, 1, 7, 26, [], true, false, false,0}}.
{5305, {data_unique_effect, 2, 1, 10, 1, 7, 26, [], true, false, false,0}}.
{5306, {data_unique_effect, 2, 1, 15, 1, 7, 26, [], true, false, false,0}}.
{5307, {data_unique_effect, 2, 1, 20, 1, 7, 26, [], true, false, false,0}}.

%% 草系恢复生命效果(貌似对了)
{5411, {data_unique_effect, 2, 0, 2, 1, 0, 22, [10], false, undefined, false,0}}.
{5412, {data_unique_effect, 2, 0, 4, 1, 0, 22, [10], false, undefined, false,0}}.
{5413, {data_unique_effect, 2, 0, 6, 1, 0, 22, [10], false, undefined, false,0}}.
{5414, {data_unique_effect, 2, 0, 8, 1, 0, 22, [10], false, undefined, false,0}}.
{5415, {data_unique_effect, 2, 0, 10, 1, 0, 22, [10], false, undefined, false,0}}.
{5416, {data_unique_effect, 2, 0, 15, 1, 0, 22, [10], false, undefined, false,0}}.
{5417, {data_unique_effect, 2, 0, 20, 1, 0, 22, [10], false, undefined, false,0}}.
{5422, {data_unique_effect, 2, 0, 2, 1, 0, 22, [15], false, undefined, false,0}}.
{5423, {data_unique_effect, 2, 0, 4, 1, 0, 22, [15], false, undefined, false,0}}.
{5424, {data_unique_effect, 2, 0, 6, 1, 0, 22, [15], false, undefined, false,0}}.
{5425, {data_unique_effect, 2, 0, 8, 1, 0, 22, [15], false, undefined, false,0}}.
{5426, {data_unique_effect, 2, 0, 10, 1, 0, 22, [15], false, undefined, false,0}}.
{5427, {data_unique_effect, 2, 0, 15, 1, 0, 22, [15], false, undefined, false,0}}.
{5433, {data_unique_effect, 2, 0, 2, 1, 0, 22, [20], false, undefined, false,0}}.
{5434, {data_unique_effect, 2, 0, 4, 1, 0, 22, [20], false, undefined, false,0}}.
{5435, {data_unique_effect, 2, 0, 6, 1, 0, 22, [20], false, undefined, false,0}}.
{5436, {data_unique_effect, 2, 0, 8, 1, 0, 22, [20], false, undefined, false,0}}.
{5437, {data_unique_effect, 2, 0, 10, 1, 0, 22, [20], false, undefined, false,0}}.

%% 飞行触发再一次普攻效果(貌似好了)
{5501, {data_unique_effect, 2, 1, 2, 0, 13, 24, [], false, undefined, false,0}}.
{5502, {data_unique_effect, 2, 1, 4, 0, 13, 24, [], false, undefined, false,0}}.
{5503, {data_unique_effect, 2, 1, 6, 0, 13, 24, [], false, undefined, false,0}}.
{5504, {data_unique_effect, 2, 1, 8, 0, 13, 24, [], false, undefined, false,0}}.
{5505, {data_unique_effect, 2, 1, 10, 0, 13, 24, [], false, undefined, false,0}}.
{5506, {data_unique_effect, 2, 1, 15, 0, 13, 24, [], false, undefined, false,0}}.
{5507, {data_unique_effect, 2, 1, 20, 0, 13, 24, [], false, undefined, false,0}}.

%% 超能触发恢复友军生命效果(貌似好了)
{5611, {data_unique_effect, 2, 0, 2, 1, 1, 22, [5], false, undefined, false,0}}.
{5612, {data_unique_effect, 2, 0, 4, 1, 1, 22, [5], false, undefined, false,0}}.
{5613, {data_unique_effect, 2, 0, 6, 1, 1, 22, [5], false, undefined, false,0}}.
{5614, {data_unique_effect, 2, 0, 8, 1, 1, 22, [5], false, undefined, false,0}}.
{5615, {data_unique_effect, 2, 0, 10, 1, 1, 22, [5], false, undefined, false,0}}.
{5616, {data_unique_effect, 2, 0, 15, 1, 1, 22, [5], false, undefined, false,0}}.
{5617, {data_unique_effect, 2, 0, 20, 1, 1, 22, [5], false, undefined, false,0}}.
{5622, {data_unique_effect, 2, 0, 2, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5623, {data_unique_effect, 2, 0, 4, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5624, {data_unique_effect, 2, 0, 6, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5625, {data_unique_effect, 2, 0, 8, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5626, {data_unique_effect, 2, 0, 10, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5627, {data_unique_effect, 2, 0, 15, 1, 1, 22, [7.5], false, undefined, false,0}}.
{5633, {data_unique_effect, 2, 0, 2, 1, 1, 22, [10], false, undefined, false,0}}.
{5634, {data_unique_effect, 2, 0, 4, 1, 1, 22, [10], false, undefined, false,0}}.
{5635, {data_unique_effect, 2, 0, 6, 1, 1, 22, [10], false, undefined, false,0}}.
{5636, {data_unique_effect, 2, 0, 8, 1, 1, 22, [10], false, undefined, false,0}}.
{5637, {data_unique_effect, 2, 0, 10, 1, 1, 22, [10], false, undefined, false,0}}.

%% 格斗系造成流血效果(貌似好了)
{5701, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,10], true, false, false,0}}.
{5702, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,20], true, false, false,0}}.
{5703, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,30], true, false, false,0}}.
{5704, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,40], true, false, false,0}}.
{5705, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,50], true, false, false,0}}.
{5706, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,75], true, false, false,0}}.
{5707, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,100], true, false, false,0}}.

%% 岩石系减少自身伤害，持续2回合(貌似好了)
{5801, {data_unique_effect, 2, 0, 2, 2, 0, 23, [10], false, true, false,0}}.
{5802, {data_unique_effect, 2, 0, 4, 2, 0, 23, [10], false, true, false,0}}.
{5803, {data_unique_effect, 2, 0, 6, 2, 0, 23, [10], false, true, false,0}}.
{5804, {data_unique_effect, 2, 0, 8, 2, 0, 23, [10], false, true, false,0}}.
{5805, {data_unique_effect, 2, 0, 10, 2, 0, 23, [10], false, true, false,0}}.
{5806, {data_unique_effect, 2, 0, 15, 2, 0, 23, [10], false, true, false,0}}.
{5807, {data_unique_effect, 2, 0, 20, 2, 0, 23, [10], false, true, false,0}}.
{5812, {data_unique_effect, 2, 0, 2, 2, 0, 23, [20], false, true, false,0}}.
{5813, {data_unique_effect, 2, 0, 4, 2, 0, 23, [20], false, true, false,0}}.
{5814, {data_unique_effect, 2, 0, 6, 2, 0, 23, [20], false, true, false,0}}.
{5815, {data_unique_effect, 2, 0, 8, 2, 0, 23, [20], false, true, false,0}}.
{5816, {data_unique_effect, 2, 0, 10, 2, 0, 23, [20], false, true, false,0}}.
{5817, {data_unique_effect, 2, 0, 15, 2, 0, 23, [20], false, true, false,0}}.
{5823, {data_unique_effect, 2, 0, 2, 2, 0, 23, [30], false, true, false,0}}.
{5824, {data_unique_effect, 2, 0, 4, 2, 0, 23, [30], false, true, false,0}}.
{5825, {data_unique_effect, 2, 0, 6, 2, 0, 23, [30], false, true, false,0}}.
{5826, {data_unique_effect, 2, 0, 8, 2, 0, 23, [30], false, true, false,0}}.
{5827, {data_unique_effect, 2, 0, 10, 2, 0, 23, [30], false, true, false,0}}.


%%====================新战役技能桩展示===============================================================
%% 水系冰冻效果
{6001, {data_unique_effect, 2, 1, 2, 1, 7, 25, [], true, false, false,0}}.
%% 火系爆炸效果
{6002, {data_unique_effect, 8, 1, 2, 1, 7, 21, [5], true, undefined, false,0}}.
%% 雷系麻痹效果
{6004, {data_unique_effect, 2, 1, 2, 1, 7, 26, [], true, false, false,0}}.
%% 草系恢复生命效果
{6003, {data_unique_effect, 2, 0, 2, 1, 0, 22, [1], false, undefined, false,0}}.
%% 飞行触发再一次普攻效果(貌似好了)
{6005, {data_unique_effect, 2, 1, 2, 0, 13, 24, [], false, undefined, false,0}}.
%% 超能触发恢复友军生命效果(貌似好了)
{6007, {data_unique_effect, 2, 0, 2, 1, 1, 22, [1], false, undefined, false,0}}.
%% 格斗系造成流血效果(貌似好了)
{6006, {data_unique_effect, 5, 1, 100, 2, 7, 37, [1,5], true, false, false,0}}.
%% 岩石系减少自身伤害，持续2回合(貌似好了)
{6008, {data_unique_effect, 2, 0, 2, 2, 0, 23, [5], false, true, false,0}}.

%%雪童子歌唱,参数格式:[作用的状态, [权值列表:{权重, {类型, 参数}}]]
{6009, {data_unique_effect, 9, 0, 50, 1, {8, 1}, 81, [[0, 2],1, [{20, {damage_sub, 5}}, {40, {inc_sp, 5}}, {40, {atk_dmg_plus, 5}}]], false, true, false,0}}.
%% 妙蛙种子 +20   
{6010, {data_unique_effect, 2, 0, 50, 0, 15, 77, [50], false, undefined, false,0}}.
%% 铁哑铃生命链接，当其中一个单位受到伤害时，被链接的单位受到额外5%的伤害
{6011, {data_unique_effect, 7, 1, 100, 1, 13, 85, [5], false, false, false,0}}.
%% 小鸭嘴龙必杀暴击率提高30%
{6012, {data_unique_effect, 1, 0, 100, 0, 0, 2, [30], false, undefined, false,0}}.
%% 火稚鸡必杀后有几率连击      
{6013, {data_unique_effect, 16, 0, 30, 0, 13, 7, [[0,3]], false, undefined, false,0}}.
%% 小电狮下次攻击的暴击率
{6014, {data_unique_effect, 1, 0, 100, 0, 0, 2, [30], false, undefined, false,0}}.
%% 电击怪必杀命中后增伤15%
{6015, {data_unique_effect, 2, 1, 100, 2, 7, 3, [15], true, true, false,0}}.
%% 超能萝莉
{6016, {data_unique_effect, 99, 0, 100, 0, 7, 19, [20, 2], false, undefined, false,0}}.
%% 火焰鸟 +20 触发dot 持续2回合     
{6017, {data_unique_effect, 7, 0, 100, 2, 7, 12, [1,10], true, false, false,0}}.
%% 杰尼龟必杀后自身受到的伤害降低20%，持续1回合   
{6018, {data_unique_effect, 2, 0, 100, 1, 0, 1, [20,2], false, true, false,0}}.
%% 墨海马+20 必杀暴击连击普通攻击
{6019 ,{data_unique_effect, 99, 0, 100, 0, 0, 55, [1], false, undefined, false,0}}.
%% 小火龙+20 暴击后增伤   
{6020, {data_unique_effect, 7, 1, 15, 1, 7, 6, [], true, undefined, true,0}}.
%% 皮卡丘 必杀后有几率连击   
{6021, {data_unique_effect, 16, 0, 10, 0, 13, 7, [[0,4]], false, undefined, false,0}}.
%% 小火猴 20%增益   
{6022, {data_unique_effect, 16, 0,   100, 1, 1, 82, [5], false, true, false,0}}.
%% 小钢甲 必杀后自身受到的伤害降低10%，持续1回合
{6023, {data_unique_effect, 2, 0, 100, 1, 0, 83, [10,100], false, true, false,0}}.
%% 3形态雷吉斯奇鲁 迷惑
%% 参数:[迷惑个数,带权值随机列表]
%% 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{6024, {data_unique_effect, 1, 0, 50, 1, 4, 27, [1,1, [{30,{allure, 0}},{10,{rage, 0}},{30,{weary,5}},{30,{weak,5}}]], false, false, true,0}}.
%% 3形态雪拉比 必杀后有几率连击      
{6025, {data_unique_effect, 16, 0, 10, 0, 13, 7, [[0,3]], false, undefined, false,0}}.
%% 3形态雷吉艾斯 冰冻5%概率
{6026, {data_unique_effect, 22, 0, 5, 1, 7, 71, [1], true, false, true,0}}.
%% 3形态雷吉洛克 暴击后增伤   
{6027, {data_unique_effect, 7, 1, 15, 1, 7, 6, [], true, undefined, true,0}}.
%% 3形态洛奇亚必杀暴击连击普通攻击
{6028 ,{data_unique_effect, 99, 0, 100, 0, 0, 55, [1], false, undefined, false,0}}.
%% 3形态盖欧卡 必杀后自身受到的伤害降低20%，持续2回合
{6029, {data_unique_effect, 2, 0, 100, 2, 0, 1, [20,1], false, true, false,1000}}.
%%3形态席多蓝恩生命链接，当其中一个单位受到伤害时，被链接的单位受到额外30%的伤害
{6030, {data_unique_effect, 7, 1, 100, 1, 13, 57, [30], false, false, false,0}}.
%% 3形态梦幻迷惑
%% 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{6031, {data_unique_effect, 1, 0, 50, 1, 4, 27, [1,1, [{30,{allure, 0}},{10,{rage, 0}},{30,{weary,5}},{30,{weak,5}}]], false, false, true,0}}.
%% 3形态克雷色利亚 增加自身减伤和造成的伤害
{6032, {data_unique_effect, 16, 0, 50, 1, 1, 29, [10], false, true, false,0}}.
%% 3形态达克莱伊 格挡
{6033,  {data_unique_effect, 24, 0, 10, 1, 0, 76, [], false, undefined, false,0}}.
%%3形态烈空座 削弱敌方防御，使其受到的伤害提高5%，持续2回合
{6034, {data_unique_effect, 2, 1, 50, 2, 7, 3, [5], true, false, false,0}}.
%% 3形态帝牙卢卡 必杀后全体增加30点命中
{6035, {data_unique_effect, 16, 0, 100, 2, 1, 11, [30], false, true, false,0}}.
%%3形态凤王 削弱敌方防御，使其受到的伤害提高5%，持续2回合
{6036, {data_unique_effect, 2, 1, 50, 2, 7, 3, [5], true, false, false,0}}.
%% 3形态固拉多 必杀后有几率连击  怪力追击
{6037, {data_unique_effect, 7, 0, 50, 0, 13, 49, [], false, undefined, false,0}}.
%%3形态雷吉奇卡斯 返还普攻，0.3倍伤害 
{6038, {data_unique_effect, 6, 0, 50, 0, 0, 14, [0.3,2], false, undefined, false,0}}.
%%3形态帕路奇犽 必杀后追加一次必杀
{6039, {data_unique_effect, 2, 0, 80, 0, 13, 50, [], false, undefined, false,0}}.
%% 3形态骑拉帝纳 必杀后有几率连击
{6040, {data_unique_effect, 2, 0, 30, 0, 13, 51, [], false, undefined, false,0}}.
%% 3形态代欧奇希斯 触发dot 持续2回合
{6041, {data_unique_effect, 7, 0, 50, 2, 7, 12, [1,30], true, false, false,0}}.
%% 3形态超梦 必杀后精灵受到的伤害提高
{6042, {data_unique_effect, 7, 0, 50, 0, 7, 52, [15], true, undefined, false,0}}.
%% 3形态阿尔宙斯 必杀后追加一次必杀  创世ID
{6043, {data_unique_effect, 5, 0, 70, 0, 7, 8, [2], false, undefined, false,0}}.
%%3形态伊裴尔塔尔 必杀对生命值低于20%的精灵造成3倍伤害
{6044, {data_unique_effect, 99, 0, 100, 0, 7, 19, [20, 1.5], false, undefined, false,0}}.
%% 3形态哲尔尼亚斯 触发dot 持续2回合
{6045, {data_unique_effect, 7, 0, 50, 2, 7, 12, [1,30], true, false, false,0}}.
%% 3形态暴走皮神：必杀后触发一次普攻
{6046, {data_unique_effect, 16, 0, 80, 0, 4, 45, [100], true, undefined, true,0}}.
%%3形态焰白龙之石 生命链接，当其中一个单位受到伤害时，被链接的单位受到额外30%的伤害
{6047, {data_unique_effect, 7, 1, 100, 1, 13, 57, [30], false, false, false,0}}.
%% 3形态黑暗龙之石 必杀后无敌1回合
{6048, {data_unique_effect, 16, 0, 50, 1, 0, 10, [1], false, true, false,0}}.
%% 3形态极光龟 必杀闪避后追加攻击，必定命中且暴击
{6049, {data_unique_effect, 2, 2, 100, 0, 13, 4, [], false, undefined, false,0}}.
%% 3形态荆棘花 触发dot 持续1回合
{6050, {data_unique_effect, 18, 0, 100, 1, {16,1,1003}, 12, [2,100], true, false, false,0}}.
%%3形态大翼黑龙：死亡标记
{6051, {data_unique_effect, 1, 0, 100, 1, 15, 44, [23000], false, undefined, false,0}}.
%% 3形态火焰鸡 必杀后有几率连击
{6052, {data_unique_effect, 16, 0, 30, 0, 13, 7, [[0,1]], false, undefined, false,0}}.
%% 3形态巨牙鲨必杀命中15%几率眩晕目标
{6053, {data_unique_effect, 7, 1, 15, 1, 7, 6, [], true, undefined, true,0}}.
%% 3形态利欧路 必杀后无敌1回合
{6054, {data_unique_effect, 16, 0, 50, 1, 0, 10, [1], false, true, false,0}}.
%% 3形态喵兰丸触发dot 持续2回合
{6055, {data_unique_effect, 7, 0, 80, 2, 7, 12, [1,30], true, false, false,0}}.
%%3形态小果然返还普攻，2倍伤害 
{6056, {data_unique_effect, 6, 0, 20, 0, 0, 14, [2,1], false, undefined, false,0}}.
%%3形态可达鸭释放必杀前随机沉睡敌方1～3个单位，持续1回合 
{6057, {data_unique_effect, 1, 0, 80, 1, {12, [{98,1},{1,2},{1,3}]}, 16, [1], false, false, true,0}}.
%%3形态迷你龙 削弱敌方防御，使其受到的伤害提高15%，持续2回合
{6058, {data_unique_effect, 2, 1, 100, 2, 7, 3, [15], true, false, false,0}}.
%%3形态蒂安希 必杀对生命值低于20%的精灵造成2倍伤害
{6059, {data_unique_effect, 99, 0, 80, 0, 7, 19, [20, 2], false, undefined, false,0}}.
%% 3形态九尾 迷惑
%% 列表格式:{权值,{类型,参数}},参数没有旧填0,allure:诱惑,rage：暴怒,weary:疲惫,weak:虚弱
{6060, {data_unique_effect, 1, 0, 50, 1, 4, 27, [1,1, [{30,{allure, 0}},{10,{rage, 0}},{30,{weary,25}},{30,{weak,50}}]], false, false, true,0}}.
%% 3形态土台龟 增加自身减伤和造成的伤害
{6061, {data_unique_effect, 16, 0, 100, 1, 1, 29, [20], false, true, false,0}}.
%% 3形态三头龙 普通追击,并造成dot伤害(30%的概率触发,造成30%伤害的dot伤害持续2回合)
{6062, {data_unique_effect, 2, 0, 30, 0, 7, 31, [{30, 2}], true, undefined, false,0}}.
%% 3形态幼卡比 必杀沉睡变身, 反击造成必杀的2倍伤害
{6063, {data_unique_effect, 9, 0, 30, 1, 0, 33, [2], false, undefined, false,0}}.
%% 3形态歌洛耶 歌唱,参数格式:[作用的状态, [权值列表:{权重, {类型, 参数}}]]
{6064, {data_unique_effect, 9, 0, 100, 1, {8, 1}, 35, [[0, 2],1, [{20, {damage_sub, 30}}, {40, {inc_sp, 50}}, {40, {atk_dmg_plus, 50}}]], false, true, false,0}}.
%% 3形态顽皮熊猫 必杀后追加一次必杀
{6065, {data_unique_effect, 16, 0, 70, 0, 7, 60, [[0],[100,80,40,20,0]], false, undefined, true,0}}.
%% 3形态基格尔德 复制
{6066,{data_unique_effect, 20, 0, 100, 0, 0, 64, [], false, undefined, false,0}}.
%% 3形态呆呆兽
{6067, {data_unique_effect, 16, 0, 100, 0, 0, 62, [10], false, undefined, false,0}}.



