%{ID,payType,Need,NextID,reward,秒速文字} ,ID从0开始
%payType:1 => 充值任意金额  2=> 充值固定金额
{data_first_pay,0,1,1,1,{sell_reward,10000000,0,0,0,[{new_item,10725, 1, 1, 0},{new_item,24, 2, 1, 0}],0,[]},"首充送豪礼"}.
{data_first_pay,1,2,60,2,{sell_reward,12000000,0,0,0,[{new_item,10726, 1, 1, 0},{new_item,10727, 1, 1, 0},{new_item,24, 3, 1, 0}],0,[]},"再充送豪礼"}.
{data_first_pay,2,2,300,3,{sell_reward,80000000,0,0,0,[{new_item,10728, 1, 1, 0},{new_item,10729, 1, 1, 0},{new_item,10730, 1, 1, 0},{new_item,82, 1, 1, 0},{new_item,85,1,1,0}],0,[]},"充值30元再送豪礼"}.
