%% 每天判断的时间,如{5,0,0},则是每天早上5点
{check_time, {5,0,0}}.

%% 需要处理的表,结构:{表名, 进行分区的键, id类型, 每个分区的大小}
{table_list, 
    [
    {gBagItem, itemUID, item, 1000000},
    {gReplay, replayUID, replay, 1000000},
    {gEquip, itemUID, item, 1000000},
    {gHist, histUID, mail, 1000000},
    {gMail, mailUID, mail, 1000000},
    {gFamilyFightRecord, recordUid, replay, 1000000},
    {gRelicWar, warID, carlos, 1000000}
    ]}.
