{max_equip_star_level, 6}.
{max_ger_star_level, 6}.
{max_trainer_equip_star_level, 6}.
{max_accelerate_equip_star_level,6}.
%% 批量合成的星级限制
{ger_multi_range, {2,6}}.
{equip_multi_range, {1,6}}.

%%v4.0增加对精灵随机合成的限制
{random_combine_star_list,[2,3,4,5,6]}.

{{ger, 1}, {101, 10000}}.
{{ger, 2}, {102, 10000}}.
{{ger, 3}, {103, 50000}}.
{{ger, 4}, {104, 350000}}.
{{ger, 5}, {105, 1000000}}.
{{ger, 6}, {106, 5000000}}.

{{equip, 1}, {1, 0}}.
{{equip, 2}, {2, 0}}.
{{equip, 3}, {3, 0}}.
{{equip, 4}, {4, 0}}.
{{equip, 5}, {5, 500000}}.
{{equip, 6}, {6, 2500000}}.

{{ger_72, 1}, {101, 10000}}.
{{ger_72, 2}, {102, 10000}}.
{{ger_72, 3}, {103, 50000}}.
{{ger_72, 4}, {104, 350000}}.
{{ger_72, 5}, {105, 1000000}}.
{{ger_72, 6}, {106, 5000000}}.

{{trainer_equip, 1}, {73, 50000}}.
{{trainer_equip, 2}, {72, 350000}}.
{{trainer_equip, 3}, {71, 1000000}}.
{{trainer_equip, 4}, {70, 5000000}}.
{{trainer_equip, 5}, {75, 8000000}}.
{{trainer_equip, 6}, {76, 12000000}}.

{{accelerate_equip, 1}, {119, 50000}}.
{{accelerate_equip, 2}, {119, 350000}}.
{{accelerate_equip, 3}, {119, 1000000}}.
{{accelerate_equip, 4}, {120, 5000000}}.
{{accelerate_equip, 5}, {121, 8000000}}.
{{accelerate_equip, 6}, {122, 12000000}}.
