%% 强化概率配置
{prob, [{4,[0.5,0.3,0.2]},
{3,[0.6,0.3,0.1]},
{2,[0.7,0.2,0.1]},
{0,[0.8,0.2]}]}.

%% 强化需要徽章的公式：f(x) = A*B*x
%% A:装备类型系数

{trainer_equip_reputation_ratio,1}.

%% 升品阶的最大值
{rank_reputation_max,10}.
%% 升级的最大值，目前应用于所有装备升级
{base_reputation_max,300}.  

%% B：装备星级系数
{{star_reputation_ratio,1},1}.
{{star_reputation_ratio,2},1}.
{{star_reputation_ratio,3},1}.
{{star_reputation_ratio,4},1}.
{{star_reputation_ratio,5},1}.
{{star_reputation_ratio,6},1}.
{{star_reputation_ratio,7},1}.



{{base_reputation,1},52}.
{{base_reputation,2},114}.
{{base_reputation,3},176}.
{{base_reputation,4},238}.
{{base_reputation,5},299}.
{{base_reputation,6},361}.
{{base_reputation,7},423}.
{{base_reputation,8},485}.
{{base_reputation,9},547}.
{{base_reputation,10},609}.
{{base_reputation,11},670}.
{{base_reputation,12},732}.
{{base_reputation,13},794}.
{{base_reputation,14},856}.
{{base_reputation,15},918}.
{{base_reputation,16},980}.
{{base_reputation,17},1041}.
{{base_reputation,18},1103}.
{{base_reputation,19},1165}.
{{base_reputation,20},1227}.
{{base_reputation,21},1289}.
{{base_reputation,22},1351}.
{{base_reputation,23},1412}.
{{base_reputation,24},1474}.
{{base_reputation,25},1536}.
{{base_reputation,26},1598}.
{{base_reputation,27},1660}.
{{base_reputation,28},1722}.
{{base_reputation,29},1783}.
{{base_reputation,30},1845}.
{{base_reputation,31},1907}.
{{base_reputation,32},1969}.
{{base_reputation,33},2031}.
{{base_reputation,34},2093}.
{{base_reputation,35},2155}.
{{base_reputation,36},2216}.
{{base_reputation,37},2278}.
{{base_reputation,38},2340}.
{{base_reputation,39},2402}.
{{base_reputation,40},2464}.
{{base_reputation,41},2526}.
{{base_reputation,42},2587}.
{{base_reputation,43},2649}.
{{base_reputation,44},2711}.
{{base_reputation,45},2773}.
{{base_reputation,46},2835}.
{{base_reputation,47},2897}.
{{base_reputation,48},2958}.
{{base_reputation,49},3020}.
{{base_reputation,50},3082}.
{{base_reputation,51},3144}.
{{base_reputation,52},3206}.
{{base_reputation,53},3268}.
{{base_reputation,54},3329}.
{{base_reputation,55},3391}.
{{base_reputation,56},3453}.
{{base_reputation,57},3515}.
{{base_reputation,58},3577}.
{{base_reputation,59},3639}.
{{base_reputation,60},3700}.
{{base_reputation,61},3762}.
{{base_reputation,62},3824}.
{{base_reputation,63},3886}.
{{base_reputation,64},3948}.
{{base_reputation,65},4010}.
{{base_reputation,66},4071}.
{{base_reputation,67},4133}.
{{base_reputation,68},4195}.
{{base_reputation,69},4257}.
{{base_reputation,70},4319}.
{{base_reputation,71},4381}.
{{base_reputation,72},4443}.
{{base_reputation,73},4504}.
{{base_reputation,74},4566}.
{{base_reputation,75},4628}.
{{base_reputation,76},4690}.
{{base_reputation,77},4752}.
{{base_reputation,78},4814}.
{{base_reputation,79},4875}.
{{base_reputation,80},4937}.
{{base_reputation,81},4999}.
{{base_reputation,82},5061}.
{{base_reputation,83},5123}.
{{base_reputation,84},5185}.
{{base_reputation,85},5246}.
{{base_reputation,86},5308}.
{{base_reputation,87},5370}.
{{base_reputation,88},5432}.
{{base_reputation,89},5494}.
{{base_reputation,90},5556}.
{{base_reputation,91},5617}.
{{base_reputation,92},5679}.
{{base_reputation,93},5741}.
{{base_reputation,94},5803}.
{{base_reputation,95},5865}.
{{base_reputation,96},5927}.
{{base_reputation,97},5988}.
{{base_reputation,98},6050}.
{{base_reputation,99},6112}.
{{base_reputation,100},6174}.
{{base_reputation,101},6236}.
{{base_reputation,102},6298}.
{{base_reputation,103},6359}.
{{base_reputation,104},6421}.
{{base_reputation,105},6483}.
{{base_reputation,106},6545}.
{{base_reputation,107},6607}.
{{base_reputation,108},6669}.
{{base_reputation,109},6731}.
{{base_reputation,110},6792}.
{{base_reputation,111},6854}.
{{base_reputation,112},6916}.
{{base_reputation,113},6978}.
{{base_reputation,114},7040}.
{{base_reputation,115},7102}.
{{base_reputation,116},7163}.
{{base_reputation,117},7225}.
{{base_reputation,118},7287}.
{{base_reputation,119},7349}.
{{base_reputation,120},7411}.
{{base_reputation,121},7473}.
{{base_reputation,122},7534}.
{{base_reputation,123},7596}.
{{base_reputation,124},7658}.
{{base_reputation,125},7720}.
{{base_reputation,126},7782}.
{{base_reputation,127},7844}.
{{base_reputation,128},7905}.
{{base_reputation,129},7967}.
{{base_reputation,130},8029}.
{{base_reputation,131},8091}.
{{base_reputation,132},8153}.
{{base_reputation,133},8215}.
{{base_reputation,134},8276}.
{{base_reputation,135},8338}.
{{base_reputation,136},8400}.
{{base_reputation,137},8462}.
{{base_reputation,138},8524}.
{{base_reputation,139},8586}.
{{base_reputation,140},8647}.
{{base_reputation,141},8709}.
{{base_reputation,142},8771}.
{{base_reputation,143},8833}.
{{base_reputation,144},8895}.
{{base_reputation,145},8957}.
{{base_reputation,146},9019}.
{{base_reputation,147},9080}.
{{base_reputation,148},9142}.
{{base_reputation,149},9204}.
{{base_reputation,150},9266}.
{{base_reputation,151},9328}.
{{base_reputation,152},9390}.
{{base_reputation,153},9451}.
{{base_reputation,154},9513}.
{{base_reputation,155},9575}.
{{base_reputation,156},9637}.
{{base_reputation,157},9699}.
{{base_reputation,158},9761}.
{{base_reputation,159},9822}.
{{base_reputation,160},9884}.
{{base_reputation,161},9946}.
{{base_reputation,162},10008}.
{{base_reputation,163},10070}.
{{base_reputation,164},10132}.
{{base_reputation,165},10193}.
{{base_reputation,166},10255}.
{{base_reputation,167},10317}.
{{base_reputation,168},10379}.
{{base_reputation,169},10441}.
{{base_reputation,170},10503}.
{{base_reputation,171},10564}.
{{base_reputation,172},10626}.
{{base_reputation,173},10688}.
{{base_reputation,174},10750}.
{{base_reputation,175},10812}.
{{base_reputation,176},10874}.
{{base_reputation,177},10935}.
{{base_reputation,178},10997}.
{{base_reputation,179},11059}.
{{base_reputation,180},11121}.
{{base_reputation,181},11183}.
{{base_reputation,182},11245}.
{{base_reputation,183},11307}.
{{base_reputation,184},11368}.
{{base_reputation,185},11430}.
{{base_reputation,186},11492}.
{{base_reputation,187},11554}.
{{base_reputation,188},11616}.
{{base_reputation,189},11678}.
{{base_reputation,190},11739}.
{{base_reputation,191},11801}.
{{base_reputation,192},11863}.
{{base_reputation,193},11925}.
{{base_reputation,194},11987}.
{{base_reputation,195},12049}.
{{base_reputation,196},12110}.
{{base_reputation,197},12172}.
{{base_reputation,198},12234}.
{{base_reputation,199},12296}.
{{base_reputation,200},12358}.
{{base_reputation,201},12420}.
{{base_reputation,202},12481}.
{{base_reputation,203},12543}.
{{base_reputation,204},12605}.
{{base_reputation,205},12667}.
{{base_reputation,206},12729}.
{{base_reputation,207},12791}.
{{base_reputation,208},12852}.
{{base_reputation,209},12914}.
{{base_reputation,210},12976}.
{{base_reputation,211},13038}.
{{base_reputation,212},13100}.
{{base_reputation,213},13162}.
{{base_reputation,214},13223}.
{{base_reputation,215},13285}.
{{base_reputation,216},13347}.
{{base_reputation,217},13409}.
{{base_reputation,218},13471}.
{{base_reputation,219},13533}.
{{base_reputation,220},13595}.
{{base_reputation,221},13656}.
{{base_reputation,222},13718}.
{{base_reputation,223},13780}.
{{base_reputation,224},13842}.
{{base_reputation,225},13904}.
{{base_reputation,226},13966}.
{{base_reputation,227},14027}.
{{base_reputation,228},14089}.
{{base_reputation,229},14151}.
{{base_reputation,230},14213}.
{{base_reputation,231},14275}.
{{base_reputation,232},14337}.
{{base_reputation,233},14398}.
{{base_reputation,234},14460}.
{{base_reputation,235},14522}.
{{base_reputation,236},14584}.
{{base_reputation,237},14646}.
{{base_reputation,238},14708}.
{{base_reputation,239},14769}.
{{base_reputation,240},14831}.
{{base_reputation,241},14893}.
{{base_reputation,242},14955}.
{{base_reputation,243},15017}.
{{base_reputation,244},15079}.
{{base_reputation,245},15140}.
{{base_reputation,246},15202}.
{{base_reputation,247},15264}.
{{base_reputation,248},15326}.
{{base_reputation,249},15388}.
{{base_reputation,250},15450}.
{{base_reputation,251},15511}.
{{base_reputation,252},15573}.
{{base_reputation,253},15635}.
{{base_reputation,254},15697}.
{{base_reputation,255},18909}.
{{base_reputation,256},19035}.
{{base_reputation,257},19161}.
{{base_reputation,258},19287}.
{{base_reputation,259},19412}.
{{base_reputation,260},19538}.
{{base_reputation,261},19664}.
{{base_reputation,262},19790}.
{{base_reputation,263},19915}.
{{base_reputation,264},20041}.
{{base_reputation,265},20167}.
{{base_reputation,266},20293}.
{{base_reputation,267},20418}.
{{base_reputation,268},20544}.
{{base_reputation,269},20670}.
{{base_reputation,270},20796}.
{{base_reputation,271},20921}.
{{base_reputation,272},21047}.
{{base_reputation,273},21173}.
{{base_reputation,274},21299}.
{{base_reputation,275},21424}.
{{base_reputation,276},21550}.
{{base_reputation,277},21676}.
{{base_reputation,278},21802}.
{{base_reputation,279},21927}.
{{base_reputation,280},22053}.
{{base_reputation,281},22179}.
{{base_reputation,282},22305}.
{{base_reputation,283},22430}.
{{base_reputation,284},22556}.
{{base_reputation,285},22682}.
{{base_reputation,286},22808}.
{{base_reputation,287},22933}.
{{base_reputation,288},23059}.
{{base_reputation,289},23185}.
{{base_reputation,290},23311}.
{{base_reputation,291},23436}.
{{base_reputation,292},23562}.
{{base_reputation,293},23688}.
{{base_reputation,294},23814}.
{{base_reputation,295},23939}.
{{base_reputation,296},24065}.
{{base_reputation,297},24191}.
{{base_reputation,298},24317}.
{{base_reputation,299},24442}.
{{base_reputation,300},25000}.


