%%格式:
%% 效果ID见data_skin_effect
%% {data_skin, 皮肤ID,[羁绊的伙伴精灵列表（单独配置-1表示所有精灵适用）],[激活格式{[材料], 激活位置(其中位置为0则是合成所需)，激活的效果ID, 是否需要装备生效}]}.
%% 材料格式：{coin, 金币数}, {gold, 钻石数}, {reputation, 声望数}, {item, 物品类型ID，物品数}
%% 例子:
{data_skin,9001,[-1],true,[{skin_activate_unit,[{item,9101,200}],0,1,false},
                                            {skin_activate_unit,[{item,9101,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9101,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9101,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9101,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9002,[-1],false,[{skin_activate_unit,[{item,9102,200}],0,1,false},
                                            {skin_activate_unit,[{item,9102,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9102,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9102,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9102,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9003,[-1],true,[{skin_activate_unit,[{item,9103,200}],0,8,false},
                                            {skin_activate_unit,[{item,9103,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9103,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9103,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9103,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9004,[-1],false,[{skin_activate_unit,[{item,9104,200}],0,8,false},
                                            {skin_activate_unit,[{item,9104,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9104,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9104,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9104,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9005,[-1],true,[{skin_activate_unit,[{item,9105,250}],0,1,false},
                                            {skin_activate_unit,[{item,9105,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9105,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9105,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9105,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9006,[-1],false,[{skin_activate_unit,[{item,9106,250}],0,1,false},
                                            {skin_activate_unit,[{item,9106,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9106,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9106,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9106,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9007,[-1],true,[{skin_activate_unit,[{item,9107,200}],0,8,false},
                                            {skin_activate_unit,[{item,9107,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9107,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9107,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9107,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,9008,[-1],false,[{skin_activate_unit,[{item,9108,200}],0,8,false},
                                            {skin_activate_unit,[{item,9108,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9108,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9108,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9108,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,9013,[-1],true,[{skin_activate_unit,[{item,9101,200}],0,1,false},
                                            {skin_activate_unit,[{item,9101,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9101,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9101,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9101,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9014,[-1],false,[{skin_activate_unit,[{item,9102,200}],0,1,false},
                                            {skin_activate_unit,[{item,9102,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9102,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9102,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9102,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9015,[-1],true,[{skin_activate_unit,[{item,9103,200}],0,8,false},
                                            {skin_activate_unit,[{item,9103,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9103,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9103,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9103,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9016,[-1],false,[{skin_activate_unit,[{item,9104,200}],0,8,false},
                                            {skin_activate_unit,[{item,9104,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9104,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9104,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9104,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9017,[-1],true,[{skin_activate_unit,[{item,9105,250}],0,1,false},
                                            {skin_activate_unit,[{item,9105,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9105,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9105,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9105,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9018,[-1],false,[{skin_activate_unit,[{item,9106,250}],0,1,false},
                                            {skin_activate_unit,[{item,9106,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9106,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9106,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9106,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9019,[-1],true,[{skin_activate_unit,[{item,9101,200}],0,1,false},
                                            {skin_activate_unit,[{item,9101,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9101,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9101,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9101,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9020,[-1],false,[{skin_activate_unit,[{item,9102,200}],0,1,false},
                                            {skin_activate_unit,[{item,9102,300},{item,7060,1}],1,7,false},
                                            {skin_activate_unit,[{item,9102,700},{item,7060,1},{item,7080,1}],2,4,false},
                                            {skin_activate_unit,[{item,9102,1000},{item,7060,1},{item,7080,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9102,1600},{item,7060,1},{item,7080,1},{item,7040,1},{item,7030,1}],4,10,false}]}.
{data_skin,9021,[-1],true,[{skin_activate_unit,[{item,9103,200}],0,8,false},
                                            {skin_activate_unit,[{item,9103,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9103,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9103,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9103,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9022,[-1],false,[{skin_activate_unit,[{item,9104,200}],0,8,false},
                                            {skin_activate_unit,[{item,9104,300},{item,7070,1}],1,5,false},
                                            {skin_activate_unit,[{item,9104,700},{item,7070,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9104,1000},{item,7070,1},{item,7010,1},{item,7020,1}],3,14,false},
                                            {skin_activate_unit,[{item,9104,1600},{item,7070,1},{item,7010,1},{item,7020,1},{item,7030,1}],4,10,false}]}.
{data_skin,9023,[-1],true,[{skin_activate_unit,[{item,9105,250}],0,1,false},
                                            {skin_activate_unit,[{item,9105,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9105,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9105,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9105,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9024,[-1],false,[{skin_activate_unit,[{item,9106,250}],0,1,false},
                                            {skin_activate_unit,[{item,9106,400},{item,7050,1}],1,2,false},
                                            {skin_activate_unit,[{item,9106,650},{item,7050,1},{item,7020,1}],2,6,false},
                                            {skin_activate_unit,[{item,9106,1000},{item,7050,1},{item,7020,1},{item,7040,1}],3,14,false},
                                            {skin_activate_unit,[{item,9106,1600},{item,7050,1},{item,7020,1},{item,7040,1},{item,7080,1}],4,10,false}]}.
{data_skin,9025,[-1],true,[{skin_activate_unit,[{item,9107,200}],0,8,false},
                                            {skin_activate_unit,[{item,9107,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9107,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9107,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9107,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,9026,[-1],false,[{skin_activate_unit,[{item,9108,200}],0,8,false},
                                            {skin_activate_unit,[{item,9108,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9108,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9108,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9108,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,9027,[-1],true,[{skin_activate_unit,[{item,9107,200}],0,8,false},
                                            {skin_activate_unit,[{item,9107,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9107,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9107,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9107,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,9028,[-1],false,[{skin_activate_unit,[{item,9108,200}],0,8,false},
                                            {skin_activate_unit,[{item,9108,300},{item,7030,1}],1,5,false},
                                            {skin_activate_unit,[{item,9108,700},{item,7030,1},{item,7010,1}],2,9,false},
                                            {skin_activate_unit,[{item,9108,1000},{item,7030,1},{item,7010,1},{item,7050,1}],3,14,false},
                                            {skin_activate_unit,[{item,9108,1600},{item,7030,1},{item,7010,1},{item,7050,1},{item,7070,1}],4,10,false}]}.
{data_skin,{data_skin_shape,9001},[9001,9019]}.
{data_skin,{data_skin_shape,9002},[9002,9020]}.
{data_skin,{data_skin_shape,9003},[9003,9021]}.
{data_skin,{data_skin_shape,9004},[9004,9022]}.
{data_skin,{data_skin_shape,9005},[9005,9023]}.
{data_skin,{data_skin_shape,9006},[9006,9024]}.
{data_skin,{data_skin_shape,9007},[9007,9025]}.
{data_skin,{data_skin_shape,9008},[9008,9026]}.
