
%% 强化概率配置
{prob, [{4,[0.3,0.3,0.2,0.1,0.1]},
{3,[0.4,0.3,0.2,0.1]},
{2,[0.5,0.3,0.2]},
{0,[0.7,0.3]}]}.

%% 强化需要银两的公式：f(x) = A*B*x
%% A:装备类型系数
{weapon_coin_ratio,0.17}.
{armor_coin_ratio,0.17}.
{wing_coin_ratio,0.17}.
{headwear_coin_ratio,0.17}.
{totem_coin_ratio,0.17}.
{runestone_coin_ratio,0.17}.
%% B：装备星级系数
{{star_coin_ratio,1},1}.
{{star_coin_ratio,2},1}.
{{star_coin_ratio,3},1}.
{{star_coin_ratio,4},1}.
{{star_coin_ratio,5},1}.
{{star_coin_ratio,6},1}.
{{star_coin_ratio,7},1}.

{{base_coin,1},80}.
{{base_coin,2},176}.
{{base_coin,3},302}.
{{base_coin,4},463}.
{{base_coin,5},661}.
{{base_coin,6},901}.
{{base_coin,7},1186}.
{{base_coin,8},1520}.
{{base_coin,9},1906}.
{{base_coin,10},2349}.
{{base_coin,11},2850}.
{{base_coin,12},3416}.
{{base_coin,13},4048}.
{{base_coin,14},4750}.
{{base_coin,15},5527}.
{{base_coin,16},6381}.
{{base_coin,17},7317}.
{{base_coin,18},8338}.
{{base_coin,19},9448}.
{{base_coin,20},10440}.
{{base_coin,21},11498}.
{{base_coin,22},12625}.
{{base_coin,23},13824}.
{{base_coin,24},15096}.
{{base_coin,25},16443}.
{{base_coin,26},17869}.
{{base_coin,27},19374}.
{{base_coin,28},20962}.
{{base_coin,29},24789}.
{{base_coin,30},28363}.
{{base_coin,31},32203}.
{{base_coin,32},37570}.
{{base_coin,33},42030}.
{{base_coin,34},48160}.
{{base_coin,35},63360}.
{{base_coin,36},78283}.
{{base_coin,37},94341}.
{{base_coin,38},114850}.
{{base_coin,39},131712}.
{{base_coin,40},150047}.
{{base_coin,41},164848}.
{{base_coin,42},197304}.
{{base_coin,43},231917}.
{{base_coin,44},268746}.
{{base_coin,45},307850}.
{{base_coin,46},349288}.
{{base_coin,47},393117}.
{{base_coin,48},439396}.
{{base_coin,49},488184}.
{{base_coin,50},539539}.
{{base_coin,51},593520}.
{{base_coin,52},650185}.
{{base_coin,53},709593}.
{{base_coin,54},771802}.
{{base_coin,55},836871}.
{{base_coin,56},904858}.
{{base_coin,57},975822}.
{{base_coin,58},1049822}.
{{base_coin,59},1126915}.
{{base_coin,60},1207160}.
{{base_coin,61},1290617}.
{{base_coin,62},1377343}.
{{base_coin,63},1467396}.
{{base_coin,64},1560836}.
{{base_coin,65},1657721}.
{{base_coin,66},1758109}.
{{base_coin,67},1862060}.
{{base_coin,68},1969630}.
{{base_coin,69},2080880}.
{{base_coin,70},2195867}.
{{base_coin,71},2314650}.
{{base_coin,72},2437287}.
{{base_coin,73},2563838}.
{{base_coin,74},2694359}.
{{base_coin,75},2828911}.
{{base_coin,76},2967552}.
{{base_coin,77},3110339}.
{{base_coin,78},3257332}.
{{base_coin,79},3408589}.
{{base_coin,80},3564168}.
{{base_coin,81},3724129}.
{{base_coin,82},3888529}.
{{base_coin,83},4057427}.
{{base_coin,84},4230882}.
{{base_coin,85},4408952}.
{{base_coin,86},4591695}.
{{base_coin,87},4779171}.
{{base_coin,88},4971437}.
{{base_coin,89},5168553}.
{{base_coin,90},5370576}.
{{base_coin,91},5577565}.
{{base_coin,92},5789579}.
{{base_coin,93},6006676}.
{{base_coin,94},6228915}.
{{base_coin,95},6456354}.
{{base_coin,96},6689051}.
{{base_coin,97},6927066}.
{{base_coin,98},7170457}.
{{base_coin,99},7419282}.
{{base_coin,100},7673600}.
{{base_coin,101},7933468}.
{{base_coin,102},8198947}.
{{base_coin,103},8470094}.
{{base_coin,104},8746968}.
{{base_coin,105},9029627}.
{{base_coin,106},9318130}.
{{base_coin,107},9612535}.
{{base_coin,108},9912901}.
{{base_coin,109},10219287}.
{{base_coin,110},10531750}.
{{base_coin,111},10850350}.
{{base_coin,112},11175144}.
{{base_coin,113},11506192}.
{{base_coin,114},11843552}.
{{base_coin,115},12187282}.
{{base_coin,116},12537442}.
{{base_coin,117},12894088}.
{{base_coin,118},13257281}.
{{base_coin,119},13627078}.
{{base_coin,120},14003538}.
{{base_coin,121},14386720}.
{{base_coin,122},14776681}.
{{base_coin,123},15173481}.
{{base_coin,124},15577178}.
{{base_coin,125},15987831}.
{{base_coin,126},16405497}.
{{base_coin,127},16830236}.
{{base_coin,128},17262106}.
{{base_coin,129},17701166}.
{{base_coin,130},18147474}.
{{base_coin,131},18601088}.
{{base_coin,132},19062068}.
{{base_coin,133},19530471}.
{{base_coin,134},20006356}.
{{base_coin,135},20489782}.
{{base_coin,136},20980807}.
{{base_coin,137},21479490}.
{{base_coin,138},21985888}.
{{base_coin,139},22500062}.
{{base_coin,140},23022068}.
{{base_coin,141},23551967}.
{{base_coin,142},24089815}.
{{base_coin,143},24635672}.
{{base_coin,144},25189597}.
{{base_coin,145},25751647}.
{{base_coin,146},26321881}.
{{base_coin,147},26900359}.
{{base_coin,148},27487137}.
{{base_coin,149},28082275}.
{{base_coin,150},28685832}.
{{base_coin,151},29297865}.
{{base_coin,152},29918434}.
{{base_coin,153},30547596}.
{{base_coin,154},31185411}.
{{base_coin,155},31831936}.
{{base_coin,156},32487231}.
{{base_coin,157},33151354}.
{{base_coin,158},33824363}.
{{base_coin,159},34506317}.
{{base_coin,160},35197274}.
{{base_coin,161},35897294}.
{{base_coin,162},36606434}.
{{base_coin,163},37324752}.
{{base_coin,164},38052308}.
{{base_coin,165},38789160}.
{{base_coin,166},39535367}.
{{base_coin,167},40290986}.
{{base_coin,168},41056077}.
{{base_coin,169},41830698}.
{{base_coin,170},42614907}.
{{base_coin,171},43408764}.
{{base_coin,172},44212326}.
{{base_coin,173},45025652}.
{{base_coin,174},45848800}.
{{base_coin,175},46681830}.
{{base_coin,176},47524799}.
{{base_coin,177},48377766}.
{{base_coin,178},49240790}.
{{base_coin,179},50113928}.
{{base_coin,180},50997241}.
{{base_coin,181},51890785}.
{{base_coin,182},52794620}.
{{base_coin,183},53708805}.
{{base_coin,184},54633397}.
{{base_coin,185},55568455}.
{{base_coin,186},56514038}.
{{base_coin,187},57470203}.
{{base_coin,188},58437011}.
{{base_coin,189},59414519}.
{{base_coin,190},60402785}.
{{base_coin,191},61401869}.
{{base_coin,192},62411828}.
{{base_coin,193},63432722}.
{{base_coin,194},64464609}.
{{base_coin,195},65507546}.
{{base_coin,196},66561594}.
{{base_coin,197},67626809}.
{{base_coin,198},68703252}.
{{base_coin,199},69790980}.
{{base_coin,200},70890051}.
{{base_coin,201},72000525}.
{{base_coin,202},73122460}.
{{base_coin,203},74255914}.
{{base_coin,204},75400946}.
{{base_coin,205},76557615}.
{{base_coin,206},77725978}.
{{base_coin,207},78906095}.
{{base_coin,208},80098023}.
{{base_coin,209},81301822}.
{{base_coin,210},82517550}.
{{base_coin,211},83745265}.
{{base_coin,212},84985026}.
{{base_coin,213},86236892}.
{{base_coin,214},87500920}.
{{base_coin,215},88777171}.
{{base_coin,216},90065701}.
{{base_coin,217},91366569}.
{{base_coin,218},92679835}.
{{base_coin,219},94005556}.
{{base_coin,220},95343791}.
{{base_coin,221},96694598}.
{{base_coin,222},98058037}.
{{base_coin,223},99434165}.
{{base_coin,224},100823041}.
{{base_coin,225},102224724}.
{{base_coin,226},103639272}.
{{base_coin,227},105066744}.
{{base_coin,228},106507197}.
{{base_coin,229},107960692}.
{{base_coin,230},109427285}.
{{base_coin,231},110907036}.
{{base_coin,232},112400003}.
{{base_coin,233},113906245}.
{{base_coin,234},115425820}.
{{base_coin,235},116958787}.
{{base_coin,236},118505203}.
{{base_coin,237},120065129}.
{{base_coin,238},121638622}.
{{base_coin,239},123225740}.
{{base_coin,240},124826543}.
{{base_coin,241},126441088}.
{{base_coin,242},128069435}.
{{base_coin,243},129711642}.
{{base_coin,244},131367766}.
{{base_coin,245},133037868}.
{{base_coin,246},134722005}.
{{base_coin,247},136420235}.
{{base_coin,248},138132618}.
{{base_coin,249},139859212}.
{{base_coin,250},141600075}.
{{base_coin,251},143355266}.
{{base_coin,252},145124843}.
{{base_coin,253},146908866}.
{{base_coin,254},148707391}.
{{base_coin,255},150520479}.
{{base_coin,256},152333567}.
{{base_coin,257},154146655}.
{{base_coin,258},155959743}.
{{base_coin,259},157772831}.
{{base_coin,260},159585919}.
{{base_coin,261},161399007}.
{{base_coin,262},163212095}.
{{base_coin,263},165025183}.
{{base_coin,264},166838271}.
{{base_coin,265},168651359}.
{{base_coin,266},170464447}.
{{base_coin,267},172277535}.
{{base_coin,268},174090623}.
{{base_coin,269},175903711}.
{{base_coin,270},177716799}.
{{base_coin,271},179529887}.
{{base_coin,272},181342975}.
{{base_coin,273},183156063}.
{{base_coin,274},184969151}.
{{base_coin,275},186782239}.
{{base_coin,276},188595327}.
{{base_coin,277},190408415}.
{{base_coin,278},192221503}.
{{base_coin,279},194034591}.
{{base_coin,280},195847679}.
{{base_coin,281},196375146}.
{{base_coin,282},198555272}.
{{base_coin,283},200751423}.
{{base_coin,284},202963656}.
{{base_coin,285},205192032}.
{{base_coin,286},207436608}.
{{base_coin,287},209697442}.
{{base_coin,288},211974593}.
{{base_coin,289},214268121}.
{{base_coin,290},216578082}.
{{base_coin,291},218904536}.
{{base_coin,292},221247542}.
{{base_coin,293},223607157}.
{{base_coin,294},225983441}.
{{base_coin,295},228376451}.
{{base_coin,296},230786247}.
{{base_coin,297},233212886}.
{{base_coin,298},235656428}.
{{base_coin,299},238116930}.
{{base_coin,300},240594452}.

%%加速装备强化系数
{accelerate_equip_reputation_ratio,1}.
{{accelerate_equip_star_reputation_ratio,1},1}.
{{accelerate_equip_star_reputation_ratio,2},1}.
{{accelerate_equip_star_reputation_ratio,3},1}.
{{accelerate_equip_star_reputation_ratio,4},1}.
{{accelerate_equip_star_reputation_ratio,5},1}.
{{accelerate_equip_star_reputation_ratio,6},1}.
{{accelerate_equip_star_reputation_ratio,7},1}.


{{accelerate_equip_base_reputation,1},30}.
{{accelerate_equip_base_reputation,2},69}.
{{accelerate_equip_base_reputation,3},108}.
{{accelerate_equip_base_reputation,4},147}.
{{accelerate_equip_base_reputation,5},187}.
{{accelerate_equip_base_reputation,6},226}.
{{accelerate_equip_base_reputation,7},265}.
{{accelerate_equip_base_reputation,8},305}.
{{accelerate_equip_base_reputation,9},344}.
{{accelerate_equip_base_reputation,10},383}.
{{accelerate_equip_base_reputation,11},423}.
{{accelerate_equip_base_reputation,12},462}.
{{accelerate_equip_base_reputation,13},501}.
{{accelerate_equip_base_reputation,14},540}.
{{accelerate_equip_base_reputation,15},580}.
{{accelerate_equip_base_reputation,16},619}.
{{accelerate_equip_base_reputation,17},658}.
{{accelerate_equip_base_reputation,18},698}.
{{accelerate_equip_base_reputation,19},737}.
{{accelerate_equip_base_reputation,20},776}.
{{accelerate_equip_base_reputation,21},816}.
{{accelerate_equip_base_reputation,22},855}.
{{accelerate_equip_base_reputation,23},894}.
{{accelerate_equip_base_reputation,24},933}.
{{accelerate_equip_base_reputation,25},973}.
{{accelerate_equip_base_reputation,26},1012}.
{{accelerate_equip_base_reputation,27},1051}.
{{accelerate_equip_base_reputation,28},1091}.
{{accelerate_equip_base_reputation,29},1130}.
{{accelerate_equip_base_reputation,30},1169}.
{{accelerate_equip_base_reputation,31},1209}.
{{accelerate_equip_base_reputation,32},1248}.
{{accelerate_equip_base_reputation,33},1287}.
{{accelerate_equip_base_reputation,34},1326}.
{{accelerate_equip_base_reputation,35},1366}.
{{accelerate_equip_base_reputation,36},1405}.
{{accelerate_equip_base_reputation,37},1444}.
{{accelerate_equip_base_reputation,38},1484}.
{{accelerate_equip_base_reputation,39},1523}.
{{accelerate_equip_base_reputation,40},1562}.
{{accelerate_equip_base_reputation,41},1602}.
{{accelerate_equip_base_reputation,42},1641}.
{{accelerate_equip_base_reputation,43},1680}.
{{accelerate_equip_base_reputation,44},1719}.
{{accelerate_equip_base_reputation,45},1759}.
{{accelerate_equip_base_reputation,46},1798}.
{{accelerate_equip_base_reputation,47},1837}.
{{accelerate_equip_base_reputation,48},1877}.
{{accelerate_equip_base_reputation,49},1916}.
{{accelerate_equip_base_reputation,50},1955}.
{{accelerate_equip_base_reputation,51},1995}.
{{accelerate_equip_base_reputation,52},2034}.
{{accelerate_equip_base_reputation,53},2073}.
{{accelerate_equip_base_reputation,54},2112}.
{{accelerate_equip_base_reputation,55},2152}.
{{accelerate_equip_base_reputation,56},2191}.
{{accelerate_equip_base_reputation,57},2230}.
{{accelerate_equip_base_reputation,58},2270}.
{{accelerate_equip_base_reputation,59},2309}.
{{accelerate_equip_base_reputation,60},2348}.
{{accelerate_equip_base_reputation,61},2388}.
{{accelerate_equip_base_reputation,62},2427}.
{{accelerate_equip_base_reputation,63},2466}.
{{accelerate_equip_base_reputation,64},2505}.
{{accelerate_equip_base_reputation,65},2545}.
{{accelerate_equip_base_reputation,66},2584}.
{{accelerate_equip_base_reputation,67},2623}.
{{accelerate_equip_base_reputation,68},2663}.
{{accelerate_equip_base_reputation,69},2702}.
{{accelerate_equip_base_reputation,70},2741}.
{{accelerate_equip_base_reputation,71},2781}.
{{accelerate_equip_base_reputation,72},2820}.
{{accelerate_equip_base_reputation,73},2859}.
{{accelerate_equip_base_reputation,74},2898}.
{{accelerate_equip_base_reputation,75},2938}.
{{accelerate_equip_base_reputation,76},2977}.
{{accelerate_equip_base_reputation,77},3016}.
{{accelerate_equip_base_reputation,78},3056}.
{{accelerate_equip_base_reputation,79},3095}.
{{accelerate_equip_base_reputation,80},3134}.
{{accelerate_equip_base_reputation,81},3174}.
{{accelerate_equip_base_reputation,82},3213}.
{{accelerate_equip_base_reputation,83},3252}.
{{accelerate_equip_base_reputation,84},3291}.
{{accelerate_equip_base_reputation,85},3331}.
{{accelerate_equip_base_reputation,86},3370}.
{{accelerate_equip_base_reputation,87},3409}.
{{accelerate_equip_base_reputation,88},3449}.
{{accelerate_equip_base_reputation,89},3488}.
{{accelerate_equip_base_reputation,90},3527}.
{{accelerate_equip_base_reputation,91},3567}.
{{accelerate_equip_base_reputation,92},3606}.
{{accelerate_equip_base_reputation,93},3645}.
{{accelerate_equip_base_reputation,94},3684}.
{{accelerate_equip_base_reputation,95},3724}.
{{accelerate_equip_base_reputation,96},3763}.
{{accelerate_equip_base_reputation,97},3802}.
{{accelerate_equip_base_reputation,98},3842}.
{{accelerate_equip_base_reputation,99},3881}.
{{accelerate_equip_base_reputation,100},3920}.
{{accelerate_equip_base_reputation,101},3960}.
{{accelerate_equip_base_reputation,102},3999}.
{{accelerate_equip_base_reputation,103},4038}.
{{accelerate_equip_base_reputation,104},4077}.
{{accelerate_equip_base_reputation,105},4117}.
{{accelerate_equip_base_reputation,106},4156}.
{{accelerate_equip_base_reputation,107},4195}.
{{accelerate_equip_base_reputation,108},4235}.
{{accelerate_equip_base_reputation,109},4274}.
{{accelerate_equip_base_reputation,110},4313}.
{{accelerate_equip_base_reputation,111},4353}.
{{accelerate_equip_base_reputation,112},4392}.
{{accelerate_equip_base_reputation,113},4431}.
{{accelerate_equip_base_reputation,114},4470}.
{{accelerate_equip_base_reputation,115},4510}.
{{accelerate_equip_base_reputation,116},4549}.
{{accelerate_equip_base_reputation,117},4588}.
{{accelerate_equip_base_reputation,118},4628}.
{{accelerate_equip_base_reputation,119},4667}.
{{accelerate_equip_base_reputation,120},4706}.
{{accelerate_equip_base_reputation,121},4746}.
{{accelerate_equip_base_reputation,122},4785}.
{{accelerate_equip_base_reputation,123},4824}.
{{accelerate_equip_base_reputation,124},4863}.
{{accelerate_equip_base_reputation,125},4903}.
{{accelerate_equip_base_reputation,126},4942}.
{{accelerate_equip_base_reputation,127},4981}.
{{accelerate_equip_base_reputation,128},5021}.
{{accelerate_equip_base_reputation,129},5060}.
{{accelerate_equip_base_reputation,130},5099}.
{{accelerate_equip_base_reputation,131},5139}.
{{accelerate_equip_base_reputation,132},5178}.
{{accelerate_equip_base_reputation,133},5217}.
{{accelerate_equip_base_reputation,134},5256}.
{{accelerate_equip_base_reputation,135},5296}.
{{accelerate_equip_base_reputation,136},5335}.
{{accelerate_equip_base_reputation,137},5374}.
{{accelerate_equip_base_reputation,138},5414}.
{{accelerate_equip_base_reputation,139},5453}.
{{accelerate_equip_base_reputation,140},5492}.
{{accelerate_equip_base_reputation,141},5532}.
{{accelerate_equip_base_reputation,142},5571}.
{{accelerate_equip_base_reputation,143},5610}.
{{accelerate_equip_base_reputation,144},5649}.
{{accelerate_equip_base_reputation,145},5689}.
{{accelerate_equip_base_reputation,146},5728}.
{{accelerate_equip_base_reputation,147},5767}.
{{accelerate_equip_base_reputation,148},5807}.
{{accelerate_equip_base_reputation,149},5846}.
{{accelerate_equip_base_reputation,150},5885}.
{{accelerate_equip_base_reputation,151},5925}.
{{accelerate_equip_base_reputation,152},5964}.
{{accelerate_equip_base_reputation,153},6003}.
{{accelerate_equip_base_reputation,154},6042}.
{{accelerate_equip_base_reputation,155},6082}.
{{accelerate_equip_base_reputation,156},6121}.
{{accelerate_equip_base_reputation,157},6160}.
{{accelerate_equip_base_reputation,158},6200}.
{{accelerate_equip_base_reputation,159},6239}.
{{accelerate_equip_base_reputation,160},6278}.
{{accelerate_equip_base_reputation,161},6318}.
{{accelerate_equip_base_reputation,162},6357}.
{{accelerate_equip_base_reputation,163},6396}.
{{accelerate_equip_base_reputation,164},6435}.
{{accelerate_equip_base_reputation,165},6475}.
{{accelerate_equip_base_reputation,166},6514}.
{{accelerate_equip_base_reputation,167},6553}.
{{accelerate_equip_base_reputation,168},6593}.
{{accelerate_equip_base_reputation,169},6632}.
{{accelerate_equip_base_reputation,170},6671}.
{{accelerate_equip_base_reputation,171},6711}.
{{accelerate_equip_base_reputation,172},6750}.
{{accelerate_equip_base_reputation,173},6789}.
{{accelerate_equip_base_reputation,174},6828}.
{{accelerate_equip_base_reputation,175},6868}.
{{accelerate_equip_base_reputation,176},6907}.
{{accelerate_equip_base_reputation,177},6946}.
{{accelerate_equip_base_reputation,178},6986}.
{{accelerate_equip_base_reputation,179},7025}.
{{accelerate_equip_base_reputation,180},7064}.
{{accelerate_equip_base_reputation,181},7104}.
{{accelerate_equip_base_reputation,182},7143}.
{{accelerate_equip_base_reputation,183},7182}.
{{accelerate_equip_base_reputation,184},7221}.
{{accelerate_equip_base_reputation,185},7261}.
{{accelerate_equip_base_reputation,186},7300}.
{{accelerate_equip_base_reputation,187},7339}.
{{accelerate_equip_base_reputation,188},7379}.
{{accelerate_equip_base_reputation,189},7418}.
{{accelerate_equip_base_reputation,190},7457}.
{{accelerate_equip_base_reputation,191},7497}.
{{accelerate_equip_base_reputation,192},7536}.
{{accelerate_equip_base_reputation,193},7575}.
{{accelerate_equip_base_reputation,194},7614}.
{{accelerate_equip_base_reputation,195},7654}.
{{accelerate_equip_base_reputation,196},7693}.
{{accelerate_equip_base_reputation,197},7732}.
{{accelerate_equip_base_reputation,198},7772}.
{{accelerate_equip_base_reputation,199},7811}.
{{accelerate_equip_base_reputation,200},7850}.
{{accelerate_equip_base_reputation,201},7890}.
{{accelerate_equip_base_reputation,202},7929}.
{{accelerate_equip_base_reputation,203},7968}.
{{accelerate_equip_base_reputation,204},8007}.
{{accelerate_equip_base_reputation,205},8047}.
{{accelerate_equip_base_reputation,206},8086}.
{{accelerate_equip_base_reputation,207},8125}.
{{accelerate_equip_base_reputation,208},8165}.
{{accelerate_equip_base_reputation,209},8204}.
{{accelerate_equip_base_reputation,210},8243}.
{{accelerate_equip_base_reputation,211},8283}.
{{accelerate_equip_base_reputation,212},8322}.
{{accelerate_equip_base_reputation,213},8361}.
{{accelerate_equip_base_reputation,214},8400}.
{{accelerate_equip_base_reputation,215},8440}.
{{accelerate_equip_base_reputation,216},8479}.
{{accelerate_equip_base_reputation,217},8518}.
{{accelerate_equip_base_reputation,218},8558}.
{{accelerate_equip_base_reputation,219},8597}.
{{accelerate_equip_base_reputation,220},8636}.
{{accelerate_equip_base_reputation,221},8676}.
{{accelerate_equip_base_reputation,222},8715}.
{{accelerate_equip_base_reputation,223},8754}.
{{accelerate_equip_base_reputation,224},8793}.
{{accelerate_equip_base_reputation,225},8833}.
{{accelerate_equip_base_reputation,226},8872}.
{{accelerate_equip_base_reputation,227},8911}.
{{accelerate_equip_base_reputation,228},8951}.
{{accelerate_equip_base_reputation,229},8990}.
{{accelerate_equip_base_reputation,230},9029}.
{{accelerate_equip_base_reputation,231},9069}.
{{accelerate_equip_base_reputation,232},9108}.
{{accelerate_equip_base_reputation,233},9147}.
{{accelerate_equip_base_reputation,234},9186}.
{{accelerate_equip_base_reputation,235},9226}.
{{accelerate_equip_base_reputation,236},9265}.
{{accelerate_equip_base_reputation,237},9304}.
{{accelerate_equip_base_reputation,238},9344}.
{{accelerate_equip_base_reputation,239},9383}.
{{accelerate_equip_base_reputation,240},9422}.
{{accelerate_equip_base_reputation,241},9462}.
{{accelerate_equip_base_reputation,242},9501}.
{{accelerate_equip_base_reputation,243},9540}.
{{accelerate_equip_base_reputation,244},9579}.
{{accelerate_equip_base_reputation,245},9619}.
{{accelerate_equip_base_reputation,246},9658}.
{{accelerate_equip_base_reputation,247},9697}.
{{accelerate_equip_base_reputation,248},9737}.
{{accelerate_equip_base_reputation,249},9776}.
{{accelerate_equip_base_reputation,250},9815}.
{{accelerate_equip_base_reputation,251},9855}.
{{accelerate_equip_base_reputation,252},9894}.
{{accelerate_equip_base_reputation,253},9933}.
{{accelerate_equip_base_reputation,254},9972}.
{{accelerate_equip_base_reputation,255},10012}.
{{accelerate_equip_base_reputation,256},10051}.
{{accelerate_equip_base_reputation,257},10090}.
{{accelerate_equip_base_reputation,258},10130}.
{{accelerate_equip_base_reputation,259},10169}.
{{accelerate_equip_base_reputation,260},10208}.
{{accelerate_equip_base_reputation,261},10248}.
{{accelerate_equip_base_reputation,262},10287}.
{{accelerate_equip_base_reputation,263},10326}.
{{accelerate_equip_base_reputation,264},10365}.
{{accelerate_equip_base_reputation,265},10405}.
{{accelerate_equip_base_reputation,266},10444}.
{{accelerate_equip_base_reputation,267},10483}.
{{accelerate_equip_base_reputation,268},10523}.
{{accelerate_equip_base_reputation,269},10562}.
{{accelerate_equip_base_reputation,270},10601}.
{{accelerate_equip_base_reputation,271},10641}.
{{accelerate_equip_base_reputation,272},10680}.
{{accelerate_equip_base_reputation,273},10719}.
{{accelerate_equip_base_reputation,274},10758}.
{{accelerate_equip_base_reputation,275},10798}.
{{accelerate_equip_base_reputation,276},10837}.
{{accelerate_equip_base_reputation,277},10876}.
{{accelerate_equip_base_reputation,278},10916}.
{{accelerate_equip_base_reputation,279},10955}.
{{accelerate_equip_base_reputation,280},10994}.
{{accelerate_equip_base_reputation,281},11034}.
{{accelerate_equip_base_reputation,282},11073}.
{{accelerate_equip_base_reputation,283},11112}.
{{accelerate_equip_base_reputation,284},11151}.
{{accelerate_equip_base_reputation,285},11191}.
{{accelerate_equip_base_reputation,286},11230}.
{{accelerate_equip_base_reputation,287},11269}.
{{accelerate_equip_base_reputation,288},11309}.
{{accelerate_equip_base_reputation,289},11348}.
{{accelerate_equip_base_reputation,290},11387}.
{{accelerate_equip_base_reputation,291},11427}.
{{accelerate_equip_base_reputation,292},11466}.
{{accelerate_equip_base_reputation,293},11505}.
{{accelerate_equip_base_reputation,294},11544}.
{{accelerate_equip_base_reputation,295},11584}.
{{accelerate_equip_base_reputation,296},11623}.
{{accelerate_equip_base_reputation,297},11662}.
{{accelerate_equip_base_reputation,298},11702}.
{{accelerate_equip_base_reputation,299},11741}.
{{accelerate_equip_base_reputation,300},11780}.
