%%注意，主服务器的ID必须为所有参与合服的服务器中最小的
{is_delete_dead_player, true}.

{offline_days, 20}.

{level, 10}.

{pay_gold, 0}.

{rename_fix, ".s"}.

{server_id_list, [8]}.

%% {{database, 5}, {"localhost",3306,"root","test","pm_game2",10}}.
{{database, 8}, {"localhost",3306,"root","test","test_combine1",10}}.

{merge_log_path, "d:/log/merge.log"}.

{mail_overdue_day, 7}.

{robot_start_rank, 1}.

%% 以下是合服的表配置
%%--------------------------------------------------------------------------------

%% 所有含有roleID且需要处理的表
{all_role_id_tables, 
    [
		 gActivity,
         gBagItem,
         gBestPassChapter,
         gCard,
         gChapter,
         gDungeon,
         gEquip,
         gFighterList,
         gFriend,
         gGather,
         gGer,
         gGift,
         gGuide,
         gHron,
         gInvite,
         gInviteRoleList,
         gLimit,
         gOfflineDeductGold,
         gOfflinePayLog,
         gPay,
         gPush,
         gRole,
         gRoleExtra,
         gShopNum,
         gtreasurepatch,
         gEncounter,
         gLieuInfo,
         gOtherRecord,
		 gTask,
         gFriendEnargy,
         gToFriend,
         gToMe,
         gAddFriend,
         gHomestead,
         gAlien,
         gPlunder,
         gStoneChip,
         gBoxInfo,
         gTeamPk,
         gWhisper,
         gTrainer,
         gDiscountInfo,
         gDiscountActivityInfo,
         gGerMirror,
         gPanicBuyActivityInfo,
         gMonthVIP,
         gStarRewardChapter,
         gLuckyRoll,
         gVipActivity,
         gTvCard,
         gGrowthFund,
         gFamilyMember,
         gTrSpecial,
         gSkin,
         gHome,
         % ghometask
         gBounty,
         gDoublematch,
         gCarlosPlaneInfo,
         %% gDmData
         gGerCrystal,
         gHomeBossTimes,
         % gold2goldbonus_log
         gShopBoxCard,
         gTreasureHouse,
         gPayGuide
    ]
}.

%% 清理数据时需要删除的表数据。
%% 2016-8-18：这个配置从2.2.0开始就没再维护过，如果需要删除无效账号用到这个的话，需要对比all_role_id_tables重新设置一下
{junk_role_id_tables, 
    [
		 gActivity,
         gRoleExtra,
         gBagItem,
         gBestPassChapter,
         gCard,
         gChapter,
         gDungeon,
         gFriend,
         gGather,
         gGift,
         gGuide,
         gHron,
         gInvite,
         gInviteRoleList,
         gPush,
         gShopNum,
         gtreasurepatch,
         gEncounter,
         gOtherRecord,
		 gTask,
         gFriendEnargy,
         gToFriend,
         gToMe,
         gAddFriend,
         gHomestead,
         gAlien,
         gPlunder,
         gStoneChip,
         gBoxInfo,
         gWhisper,
         gTrainer,
         gDiscountInfo,
         gDiscountActivityInfo,
         gGerMirror,
         gPanicBuyActivityInfo,
         gMonthVIP,
         gStarRewardChapter,
         gLuckyRoll,
         gVipActivity,
         gTvCard,
         gGrowthFund,
         gFamilyMember,
         gTrSpecial 
    ]
}.

%% 所有需要合并且不含roleID的表
{need_merge_tables, [gFamily,gFamilyFight,gFamilyStorage,gFamilyTek,gFamilyWallet,gFamilyDonate]}.

%% 所有需要合并且含有筛选规则的表
{filter_merge_tables, [gMail]}.

%% 所有需要删除的表
{need_delete_table, [gReplay,gHist,gTalk]}.

%% 有些表在合并时,部分字段的值需要重置或则做其他处理。所有的这些表和需要处理的字段
%% 都放在special这个字段里面
{special,
    [{gFamily, [{talkData, "\"\""}, {changeLog, "\"\""}]}]
}.
