%%活动ID和时间{ActivtyID, ActivityEndTime}
{activity, {19, {{2015,10,1},{0,0,1}},{{2015,10,30},{23,59,59}}}}.

%% 消耗钻石列表，按顺序获取
{costGold,	[{sell_reward,0,0,0,0,[],0,[]}
		,{sell_reward,0,2,0,0,[],0,[]}
		,{sell_reward,0,3,0,0,[],0,[]}
		,{sell_reward,0,0,0,0,[],4,[]}
		,{sell_reward,5,0,0,0,[],0,[]}
		,{sell_reward,6,0,0,0,[],0,[]}
		,{sell_reward,0,0,0,0,[],7,[]}
		,{sell_reward,0,0,0,0,[{new_item,20018,1,1,0}],0,[]}
		,{sell_reward,0,0,0,0,[{new_item,20018,2,1,0}],0,[]}
		,{sell_reward,0,0,0,0,[{new_item,20018,3,1,0}],0,[]}
		]}.

%% 开启id列表,{概率，ID}
{openIDList,	[{10,1}
		,{10,2}
		,{10,3}
		,{10,4}
		,{10,5}
		,{10,6}
		,{10,7}
		,{10,8}
		,{10,9}
		,{10,10}
		,{10,11}
		,{10,12}
		,{10,13}
		,{10,14}
		,{10,15}
		,{10,16}]}.

{{openID, 1},[1,2,3,4,5,6,7,8,9]}.
{{openID, 2},[1,2,3,4,5,6,7,8,9]}.
{{openID, 3},[1,2,3,4,5,6,7,8,9]}.
{{openID, 4},[1,2,3,4,5,6,7,8,9]}.
{{openID, 5},[1,2,3,4,5,6,7,8,9]}.
{{openID, 6},[1,2,3,4,5,6,7,8,9]}.
{{openID, 7},[1,2,3,4,5,6,7,8,9]}.
{{openID, 8},[1,2,3,4,5,6,7,8,9]}.
{{openID, 9},[1,2,3,4,5,6,7,8,9]}.
{{openID, 10},[1,2,3,4,5,6,7,8,9]}.
{{openID, 11},[1,2,3,4,5,6,7,8,9]}.
{{openID, 12},[1,2,3,4,5,6,7,8,9]}.
{{openID, 13},[1,2,3,4,5,6,7,8,9]}.
{{openID, 14},[1,2,3,4,5,6,7,8,9]}.
{{openID, 15},[1,2,3,4,5,6,7,8,9]}.
{{openID, 16},[1,2,3,4,5,6,7,8,9]}.

{rewardIDList,[{10,1},{20,2},{15,3}]}.

{{rewardID,1},	[{sell_reward,1,0,0,0,[],0,[]}
		,{sell_reward,2,0,0,0,[],0,[]}
		,{sell_reward,3,0,0,0,[],0,[]}
		,{sell_reward,4,0,0,0,[],0,[]}
		,{sell_reward,5,0,0,0,[],0,[]}
		,{sell_reward,6,0,0,0,[],0,[]}
		,{sell_reward,7,0,0,0,[],0,[]}
		,{sell_reward,8,0,0,0,[],0,[]}
		,{sell_reward,9,0,0,0,[],0,[]}]}.
{{rewardID,2},	[{sell_reward,1,0,0,0,[],0,[]}
		,{sell_reward,2,0,0,0,[],0,[]}
		,{sell_reward,3,0,0,0,[],0,[]}
		,{sell_reward,4,0,0,0,[],0,[]}
		,{sell_reward,5,0,0,0,[],0,[]}
		,{sell_reward,6,0,0,0,[],0,[]}
		,{sell_reward,7,0,0,0,[],0,[]}
		,{sell_reward,8,0,0,0,[],0,[]}
		,{sell_reward,9,0,0,0,[],0,[]}]}.
{{rewardID,3},	[{sell_reward,1,0,0,0,[],0,[]}
		,{sell_reward,2,0,0,0,[],0,[]}
		,{sell_reward,3,0,0,0,[],0,[]}
		,{sell_reward,4,0,0,0,[],0,[]}
		,{sell_reward,5,0,0,0,[],0,[]}
		,{sell_reward,6,0,0,0,[],0,[]}
		,{sell_reward,7,0,0,0,[],0,[]}
		,{sell_reward,8,0,0,0,[],0,[]}
		,{sell_reward,9,0,0,0,[],0,[]}]}.

