%% 活动配置
%%　@@@@警告：每次新增的活动的活动ID必须递增，不允许与历史ID重复
{data_activity,
4381,
exchange2,
false,
false,
{{2016,10,11},{23,59,59}},
{{2016,12,18},{23,59,59}},
{level,1,301},
{vip,1,16},
"超值钜惠",
"btn_event_009.png",
"活动期间，大大们可以用超值钜惠价格兑换到稀有道具，次数有限，大大们抓紧时间哦！ （不刷新）",
[{data_activity_draw,0,"今日兑换",1,[{2,3000}],{sell_reward,0,0,0,0,[{new_item,20050,1000,1,0}],0,[]},0,0}
,{data_activity_draw,1,"今日兑换",1,[{2,3000}],{sell_reward,0,0,0,0,[{new_item,20051,200,1,0}],0,[]},0,1}
],1}.


{data_activity,
4382,
pay_special_num,
false,
true,
{{2016,10,11},{23,59,59}},
{{2016,12,18},{23,59,59}},
{level,1,301},
{vip,1,16},
"超值返利",
"btn_event_06.png",
"活动期间,大大们单笔充值对应的金额,即可领取超值返利，每个档次的大奖只能领取一次哦！每天刷新哦。",
[{data_activity_draw,0,"单笔充值30元",1,300,{sell_reward,8000000,0,0,0,[{new_item,21017,1,1,0},{new_item,20051,1,1,0}],0,[]},0,0}
,{data_activity_draw,1,"单笔充值50元",1,500,{sell_reward,10000000,0,0,0,[{new_item,21010,1,1,0},{new_item,20050,1000,1,0}],0,[]},0,1}
],2}.












