%月卡配置

%{activity_time, { StartTime, EndTime } }.
{activity_time,{ {{2015,5,19},{0,0,0}}, {{2015,5,25},{0,0,0}} }}.

{needLevel, 0}.

{buyBigGold, 2000}.
{buyLittleGold,300}.

{bigTime, 3600}.
{littleTime, 30}.

{bigEverydayGold, 150}.
{littleEverydayGold,100}.

{bigReward, {sell_reward,0,0,0,0,[],0,[]}}.
{littleReward, {sell_reward,0,0,0,0,[],0,[]}}.

%% 已作废
%%{monthVIPPayIDList, [1,2]}.
%% 已作废
%% {{monthVIPPayIDType,ID}, Type} 
%% Type:1->Big,2->Little ID:data_pay中配置,且在monthVIPPayIDList中
%{{monthVIPPayIDType,1},1}.
%{{monthVIPPayIDType,2},2}.


%% {{monthVIPPayGold,Gold},Type}.
%% Type:1->Big,2->Little   Gold:实际充值金额
{{monthVIPPayGold,2000},1}.
{{monthVIPPayGold,300},2}.


% 购买成长基金的等级限制
{growth_fund_level,{0,999}}.
{growth_fund_vip,4}.
{growth_fund_cost,1000}.
% 注意！！版本发布后，等级不可随意修改，确认一下客户端是不是写死的
{growth_fund,[{15,{sell_reward,0,0,0,300,[],0,[]}}
             ,{30,{sell_reward,0,0,0,500,[],0,[]}}
             ,{40,{sell_reward,0,0,0,700,[],0,[]}}
             ,{45,{sell_reward,0,0,0,1000,[],0,[]}}
             ,{50,{sell_reward,0,0,0,1500,[],0,[]}}
             ,{55,{sell_reward,0,0,0,2500,[],0,[]}}
             ,{60,{sell_reward,0,0,0,3500,[],0,[]}}]}.



