%% 这个活动在代码中有等级限制，大于等于十级活动才能起效
%% 探险奖励倍增活动开启时间
{open_time, 
    [ 
        {
            [
                {{2013,11,1},{11,59,59}}
                ,{{2013,11,30},{00,30,00}}],1
        },
        {
            [
                {{2013,12,1},{11,59,59}}
                ,{{2013,12,30},{00,30,00}}],2
        }
    ]
}.

%% 探险奖励倍增活
%% 最终产量数值 = 取整 【原有产量数值 * 倍率】
%% {活动ID,
%%    {金币倍率,经验倍率}
%% }.

{1,
    {1.1,1.1}
}.


{2,
    {1.2,1.2}
}.