%% 活动开启时间
{open_time, 
    [ 
        {
            [
                {{2014,11,1},{11,59,59}}
                ,{{2014,12,30},{00,30,00}}],1
        },
        {
            [
                {{2014,11,1},{11,59,59}}
                ,{{2014,12,30},{00,30,00}}],2
        }
    ]
}.

{1,
    [
        {data_drop_bonus,
            [30001,30010],
            [{6500,[{new_item,16,1,1,0}]},{3500,[{new_item,26,1,1,0}]}]
        },
        {data_drop_bonus,
            [30011,30020],
            [{3000,[]},{7000,[{new_ger,5101,1,0}]}]
        }
    ]
}.

{2,
    [
        {data_drop_bonus,
            [30001,30010],
            [{6500,[{new_item,15,1,1,0}]},{3500,[{new_item,25,1,1,0}]}]
        },
        {data_drop_bonus,
            [30011,30020],
            [{5000,[]},{5000,[{new_ger,5121,1,0}]}]
        }
    ]
}.